<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Visão Física (Instituto)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vis&#227;o F&#237;sica (Instituto)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-physical"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_physical" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3f69e681-8d73-4eea-95b8-fdb4ec8e8b22.png" alt="Visão Física (Instituto)" usemap="#3f69e681-8d73-4eea-95b8-fdb4ec8e8b22map"/>
			   <map name="3f69e681-8d73-4eea-95b8-fdb4ec8e8b22map">
				  		<area shape="rect" coords="910,761,959,796" href="../elements/d6755d2c-e803-42c1-a24b-178ad958c56e.html"  target="element">
				  		<area shape="rect" coords="766,760,831,798" href="../elements/c295a309-b659-41a8-ac4d-4f80b22edc89.html"  target="element">
				  		<area shape="rect" coords="550,760,615,798" href="../elements/7a3b205b-2f22-4be2-bb10-9d95845793a6.html"  target="element">
				  		<area shape="rect" coords="370,760,431,797" href="../elements/deb188e2-5f04-4dc5-936f-35a62ecffbb6.html"  target="element">
				  		<area shape="rect" coords="190,759,235,799" href="../elements/a6309412-42d2-4f84-ada5-0c98ba5085a0.html"  target="element">
				          <area shape="rect" coords="26,754,1091,803" href="../objects/bae81ce2-b4fe-4110-bbc7-0472f0fdfe2c.html" target="element" >
				  		<area shape="rect" coords="21,317,203,395" href="../elements/6604d2f1-abf9-47af-9294-93b98261af2d.html"  target="element">
				  				<area shape="rect" coords="52,682,207,731" href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html"  target="element">
				  				<area shape="rect" coords="52,622,207,671" href="../elements/841da10c-c520-428f-8fae-3e95a9a3820e.html"  target="element">
				  				<area shape="rect" coords="52,563,207,618" href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html"  target="element">

				  		<area shape="rect" coords="26,514,248,741" href="../elements/706d5832-1436-4196-a52e-0f6957458f8d.html"  target="element">
				  				<area shape="rect" coords="1023,432,1228,487" href="../elements/f707bf61-45b8-47bb-a9de-96d3823b0d72.html"  target="element">

				  		<area shape="rect" coords="999,376,1271,491" href="../elements/b72c73b9-b43c-4f23-ba6c-d59e08aa796b.html"  target="element">
				  				<area shape="rect" coords="30,191,216,229" href="../elements/379da2bd-a41f-4425-86cb-26e125dd4798.html"  target="element">
				  				<area shape="rect" coords="32,129,216,184" href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html"  target="element">
				  				<area shape="rect" coords="34,72,216,122" href="../elements/569a3460-72f8-4f23-825e-8cbd8499188e.html"  target="element">

				  		<area shape="rect" coords="10,12,263,239" href="../elements/0d237b74-a350-4c7f-adc4-dc4de4efb576.html"  target="element">
				  				<area shape="rect" coords="370,634,516,698" href="../elements/97e25aac-f841-4d6a-b0a0-ce4ee66cafc0.html"  target="element">

				  		<area shape="rect" coords="346,562,538,705" href="../elements/ada1203c-935a-465d-b026-eb05d6aa1596.html"  target="element">
				  				<area shape="rect" coords="610,634,757,689" href="../elements/2a0e32e0-12e8-443e-8fb2-03fc38f26a0b.html"  target="element">

				  		<area shape="rect" coords="586,562,791,695" href="../elements/19c70014-67ef-4c54-b355-383a48e3315f.html"  target="element">
				  				<area shape="rect" coords="1066,190,1259,256" href="../elements/f2267d48-8e87-4bea-92f3-a66fd26ede4a.html"  target="element">
				  				<area shape="rect" coords="1114,274,1234,329" href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html"  target="element">

				  		<area shape="rect" coords="1042,130,1296,349" href="../elements/dc2b6e8f-3da7-44c6-802f-eeaab1ce8cb0.html"  target="element">
				  				<area shape="rect" coords="855,602,1036,663" href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html"  target="element">

				  		<area shape="rect" coords="843,542,1067,681" href="../elements/412a2aee-b6aa-47af-acb4-0fcb3a6ea681.html"  target="element">
				  				<area shape="rect" coords="274,379,479,434" href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html"  target="element">
				  				<area shape="rect" coords="274,307,479,368" href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html"  target="element">

				  		<area shape="rect" coords="262,259,514,454" href="../elements/bd749a49-a319-4bf2-9f0e-b88da4e9935f.html"  target="element">
				  				<area shape="rect" coords="634,610,781,665" href="../elements/835fc6a8-1482-4780-9930-729e8c74ce69.html"  target="element">

				  		<area shape="rect" coords="610,538,815,671" href="../elements/81fdccb1-a26c-4148-8d86-4e270215ce2c.html"  target="element">
				  				<area shape="rect" coords="778,124,971,179" href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html"  target="element">
				  				<area shape="rect" coords="778,56,971,117" href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html"  target="element">
				  				<area shape="rect" coords="538,178,767,233" href="../elements/468e84bc-065f-4b52-91c8-8727812755ba.html"  target="element">
				  				<area shape="rect" coords="538,118,767,173" href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html"  target="element">
				  				<area shape="rect" coords="538,56,767,107" href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html"  target="element">
				  				<area shape="rect" coords="301,184,527,227" href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html"  target="element">
				  				<area shape="rect" coords="298,118,527,173" href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html"  target="element">
				  				<area shape="rect" coords="298,56,527,111" href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html"  target="element">

				  		<area shape="rect" coords="286,10,996,239" href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html"  target="element">
				  				<area shape="rect" coords="694,393,836,448" href="../elements/b1b10201-1510-4f2c-be00-81345e3b3410.html"  target="element">

				  		<area shape="rect" coords="658,334,863,467" href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html"  target="element">
				  				<area shape="rect" coords="406,610,552,674" href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html"  target="element">

				  		<area shape="rect" coords="382,538,574,681" href="../elements/fd749d30-da63-48a8-82d0-3491482c9baa.html"  target="element">
				  		<area shape="rect" coords="1078,91,1331,320" href="../elements/964ccdcc-c57a-4be6-bf95-4fc85f34e48d.html"  target="element">
				  		<area shape="rect" coords="1114,31,1367,260" href="../elements/b6032feb-1908-4c73-9052-e33533df8bd1.html"  target="element">
				  		<area shape="rect" coords="10,482,215,705" href="../elements/706d5832-1436-4196-a52e-0f6957458f8d.html"  target="element">
				  		<area shape="rect" coords="45,285,215,371" href="../elements/6604d2f1-abf9-47af-9294-93b98261af2d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6604d2f1-abf9-47af-9294-93b98261af2d.html" target="element"> &lt;&lt;N&#243;&gt;&gt; DB Login e Autoriza&#231;&#227;o </a> </td>
											    <td> <a href="../elements/6604d2f1-abf9-47af-9294-93b98261af2d.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/706d5832-1436-4196-a52e-0f6957458f8d.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de QoS </a> </td>
											    <td> <a href="../elements/706d5832-1436-4196-a52e-0f6957458f8d.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b6032feb-1908-4c73-9052-e33533df8bd1.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Sala de Cirurgia </a> </td>
											    <td> <a href="../elements/b6032feb-1908-4c73-9052-e33533df8bd1.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/964ccdcc-c57a-4be6-bf95-4fc85f34e48d.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Sala de Cirurgia </a> </td>
											    <td> <a href="../elements/964ccdcc-c57a-4be6-bf95-4fc85f34e48d.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fd749d30-da63-48a8-82d0-3491482c9baa.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Hospital </a> </td>
											    <td> <a href="../elements/fd749d30-da63-48a8-82d0-3491482c9baa.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html" target="element"> Servi&#231;o de Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
													    <td> <a href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Barramento </a> </td>
											    <td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b1b10201-1510-4f2c-be00-81345e3b3410.html" target="element"> Servi&#231;o de Barramento </a> </td>
													    <td> <a href="../elements/b1b10201-1510-4f2c-be00-81345e3b3410.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Centro Cir&#250;rgico </a> </td>
											    <td> <a href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element"> Servi&#231;o de Gest&#227;o Integrada de Centro Cir&#250;rgico </a> </td>
													    <td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element"> Servi&#231;o de Gest&#227;o de Informa&#231;&#245;es Cir&#250;rgicas </a> </td>
													    <td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element"> Servi&#231;o de Prepara&#231;&#227;o de Cirurgia </a> </td>
													    <td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element"> Servi&#231;o de Aloca&#231;&#227;o de Profissionais </a> </td>
													    <td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element"> Servi&#231;o de Agendamento de Cirurgia </a> </td>
													    <td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/468e84bc-065f-4b52-91c8-8727812755ba.html" target="element"> Servi&#231;o Central de Monitoramento Anest&#233;sico </a> </td>
													    <td> <a href="../elements/468e84bc-065f-4b52-91c8-8727812755ba.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element"> Servi&#231;o de Elabora&#231;&#227;o de Relat&#243;rios de Anestesia </a> </td>
													    <td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html" target="element"> Servi&#231;o de Reserva de Leitos </a> </td>
													    <td> <a href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/81fdccb1-a26c-4148-8d86-4e270215ce2c.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor da Farm&#225;cia </a> </td>
											    <td> <a href="../elements/81fdccb1-a26c-4148-8d86-4e270215ce2c.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/835fc6a8-1482-4780-9930-729e8c74ce69.html" target="element"> Reserva de Medicamentos </a> </td>
													    <td> <a href="../elements/835fc6a8-1482-4780-9930-729e8c74ce69.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/bd749a49-a319-4bf2-9f0e-b88da4e9935f.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor RH </a> </td>
											    <td> <a href="../elements/bd749a49-a319-4bf2-9f0e-b88da4e9935f.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html" target="element"> Servi&#231;o de Agendamento de Limpeza </a> </td>
													    <td> <a href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element"> Servi&#231;o de Aloca&#231;&#227;o de Profissionais </a> </td>
													    <td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/412a2aee-b6aa-47af-acb4-0fcb3a6ea681.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Engenharia M&#233;dica </a> </td>
											    <td> <a href="../elements/412a2aee-b6aa-47af-acb4-0fcb3a6ea681.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element"> Servi&#231;o de Agendamento de Equipamentos </a> </td>
													    <td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/dc2b6e8f-3da7-44c6-802f-eeaab1ce8cb0.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Sala de Cirurgia </a> </td>
											    <td> <a href="../elements/dc2b6e8f-3da7-44c6-802f-eeaab1ce8cb0.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html" target="element"> DB Intraoperat&#243;rio </a> </td>
													    <td> <a href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f2267d48-8e87-4bea-92f3-a66fd26ede4a.html" target="element"> Servi&#231;o de Integra&#231;&#227;o de Informa&#231;&#245;es do Intraoperat&#243;ro </a> </td>
													    <td> <a href="../elements/f2267d48-8e87-4bea-92f3-a66fd26ede4a.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/19c70014-67ef-4c54-b355-383a48e3315f.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor da Farm&#225;cia </a> </td>
											    <td> <a href="../elements/19c70014-67ef-4c54-b355-383a48e3315f.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2a0e32e0-12e8-443e-8fb2-03fc38f26a0b.html" target="element"> Reserva de Medicamentos </a> </td>
													    <td> <a href="../elements/2a0e32e0-12e8-443e-8fb2-03fc38f26a0b.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ada1203c-935a-465d-b026-eb05d6aa1596.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Hospital </a> </td>
											    <td> <a href="../elements/ada1203c-935a-465d-b026-eb05d6aa1596.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/97e25aac-f841-4d6a-b0a0-ce4ee66cafc0.html" target="element"> Servi&#231;o de Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
													    <td> <a href="../elements/97e25aac-f841-4d6a-b0a0-ce4ee66cafc0.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0d237b74-a350-4c7f-adc4-dc4de4efb576.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Dados Central do Centro Cir&#250;rgico </a> </td>
											    <td> <a href="../elements/0d237b74-a350-4c7f-adc4-dc4de4efb576.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/569a3460-72f8-4f23-825e-8cbd8499188e.html" target="element"> DB de Relat&#243;rios de Anestesia </a> </td>
													    <td> <a href="../elements/569a3460-72f8-4f23-825e-8cbd8499188e.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html" target="element"> DB Intraoperat&#243;rio </a> </td>
													    <td> <a href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/379da2bd-a41f-4425-86cb-26e125dd4798.html" target="element"> DB Centro Cir&#250;rgico </a> </td>
													    <td> <a href="../elements/379da2bd-a41f-4425-86cb-26e125dd4798.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b72c73b9-b43c-4f23-ba6c-d59e08aa796b.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central Divis&#227;o de Anestesia HC </a> </td>
											    <td> <a href="../elements/b72c73b9-b43c-4f23-ba6c-d59e08aa796b.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f707bf61-45b8-47bb-a9de-96d3823b0d72.html" target="element"> Servi&#231;o de Gest&#227;o de Divis&#227;o de Anestesia </a> </td>
													    <td> <a href="../elements/f707bf61-45b8-47bb-a9de-96d3823b0d72.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/706d5832-1436-4196-a52e-0f6957458f8d.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de QoS </a> </td>
											    <td> <a href="../elements/706d5832-1436-4196-a52e-0f6957458f8d.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html" target="element"> Servi&#231;o de autoriza&#231;&#227;o </a> </td>
													    <td> <a href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/841da10c-c520-428f-8fae-3e95a9a3820e.html" target="element"> Servi&#231;o de login </a> </td>
													    <td> <a href="../elements/841da10c-c520-428f-8fae-3e95a9a3820e.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html" target="element"> Servi&#231;o de autoriza&#231;&#227;o </a> </td>
													    <td> <a href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6604d2f1-abf9-47af-9294-93b98261af2d.html" target="element"> &lt;&lt;N&#243;&gt;&gt; DB Login e Autoriza&#231;&#227;o </a> </td>
											    <td> <a href="../elements/6604d2f1-abf9-47af-9294-93b98261af2d.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/bae81ce2-b4fe-4110-bbc7-0472f0fdfe2c.html" target="element">  </a> </td>
									           <td> <a href="../objects/bae81ce2-b4fe-4110-bbc7-0472f0fdfe2c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/a6309412-42d2-4f84-ada5-0c98ba5085a0.html" target="element">  </a> </td>
											    <td> <a href="../elements/a6309412-42d2-4f84-ada5-0c98ba5085a0.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/deb188e2-5f04-4dc5-936f-35a62ecffbb6.html" target="element">  </a> </td>
											    <td> <a href="../elements/deb188e2-5f04-4dc5-936f-35a62ecffbb6.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7a3b205b-2f22-4be2-bb10-9d95845793a6.html" target="element">  </a> </td>
											    <td> <a href="../elements/7a3b205b-2f22-4be2-bb10-9d95845793a6.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c295a309-b659-41a8-ac4d-4f80b22edc89.html" target="element">  </a> </td>
											    <td> <a href="../elements/c295a309-b659-41a8-ac4d-4f80b22edc89.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d6755d2c-e803-42c1-a24b-178ad958c56e.html" target="element">  </a> </td>
											    <td> <a href="../elements/d6755d2c-e803-42c1-a24b-178ad958c56e.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/1dd7468f-c8d6-49ce-b12a-7c7ce3206d24.html" target="element">  </a> </td>
																		<td> <a href="../elements/1dd7468f-c8d6-49ce-b12a-7c7ce3206d24.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/706d5832-1436-4196-a52e-0f6957458f8d.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de QoS </a> </td>
																		<td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Barramento </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/615c0598-4506-452d-a502-e6d26a27715b.html" target="element">  </a> </td>
																		<td> <a href="../elements/615c0598-4506-452d-a502-e6d26a27715b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/fd749d30-da63-48a8-82d0-3491482c9baa.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Hospital </a> </td>
																		<td> <a href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html" target="element"> Servi&#231;o de Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ac186bb1-1889-4b57-bff1-11dc964f65c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac186bb1-1889-4b57-bff1-11dc964f65c2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/fd749d30-da63-48a8-82d0-3491482c9baa.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Hospital </a> </td>
																		<td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Barramento </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/0fe98913-83b9-458d-b42b-8c7091eca51c.html" target="element">  </a> </td>
																		<td> <a href="../elements/0fe98913-83b9-458d-b42b-8c7091eca51c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Barramento </a> </td>
																		<td> <a href="../elements/b1b10201-1510-4f2c-be00-81345e3b3410.html" target="element"> Servi&#231;o de Barramento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d887f30a-d1da-49e0-b993-6c80d03e296e.html" target="element">  </a> </td>
																		<td> <a href="../elements/d887f30a-d1da-49e0-b993-6c80d03e296e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Barramento </a> </td>
																		<td> <a href="../elements/dc2b6e8f-3da7-44c6-802f-eeaab1ce8cb0.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Sala de Cirurgia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8814f6de-707a-48d0-8bb1-b4ade3521591.html" target="element">  </a> </td>
																		<td> <a href="../elements/8814f6de-707a-48d0-8bb1-b4ade3521591.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Barramento </a> </td>
																		<td> <a href="../elements/19c70014-67ef-4c54-b355-383a48e3315f.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor da Farm&#225;cia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fd67114d-3353-467f-8b28-2c006855d4af.html" target="element">  </a> </td>
																		<td> <a href="../elements/fd67114d-3353-467f-8b28-2c006855d4af.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Barramento </a> </td>
																		<td> <a href="../elements/b72c73b9-b43c-4f23-ba6c-d59e08aa796b.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central Divis&#227;o de Anestesia HC </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/828b5011-66fa-4b5e-a26b-dec65701f892.html" target="element">  </a> </td>
																		<td> <a href="../elements/828b5011-66fa-4b5e-a26b-dec65701f892.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element"> Servi&#231;o de Gest&#227;o Integrada de Centro Cir&#250;rgico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c2afa9ab-0bac-4ab8-b59d-c3c396ac4b9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2afa9ab-0bac-4ab8-b59d-c3c396ac4b9d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element"> Servi&#231;o de Gest&#227;o de Informa&#231;&#245;es Cir&#250;rgicas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/40c53d69-400f-4138-8e38-bb0ab035fa5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/40c53d69-400f-4138-8e38-bb0ab035fa5b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element"> Servi&#231;o de Prepara&#231;&#227;o de Cirurgia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8510291e-e67c-4026-bea3-8c5fd5c74dd6.html" target="element">  </a> </td>
																		<td> <a href="../elements/8510291e-e67c-4026-bea3-8c5fd5c74dd6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element"> Servi&#231;o de Aloca&#231;&#227;o de Profissionais </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a8d8b581-e3c3-491f-b3f5-538c877e38f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8d8b581-e3c3-491f-b3f5-538c877e38f4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element"> Servi&#231;o de Agendamento de Cirurgia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/423f4c04-3187-4051-9533-9592f32dd96f.html" target="element">  </a> </td>
																		<td> <a href="../elements/423f4c04-3187-4051-9533-9592f32dd96f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/468e84bc-065f-4b52-91c8-8727812755ba.html" target="element"> Servi&#231;o Central de Monitoramento Anest&#233;sico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2155fcef-3846-4653-8f51-b8210732d8fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/2155fcef-3846-4653-8f51-b8210732d8fd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element"> Servi&#231;o de Elabora&#231;&#227;o de Relat&#243;rios de Anestesia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/db7bec3f-f5bc-430f-b5ed-8014f61cc5e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/db7bec3f-f5bc-430f-b5ed-8014f61cc5e4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html" target="element"> Servi&#231;o de Reserva de Leitos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2629aa11-11f6-4da8-88ea-423a47cd374c.html" target="element">  </a> </td>
																		<td> <a href="../elements/2629aa11-11f6-4da8-88ea-423a47cd374c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Barramento </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/fa3adfc9-5375-47bd-8524-fb3150fb1f72.html" target="element">  </a> </td>
																		<td> <a href="../elements/fa3adfc9-5375-47bd-8524-fb3150fb1f72.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/81fdccb1-a26c-4148-8d86-4e270215ce2c.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor da Farm&#225;cia </a> </td>
																		<td> <a href="../elements/835fc6a8-1482-4780-9930-729e8c74ce69.html" target="element"> Reserva de Medicamentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a7301b8d-02c5-41c6-8e23-474a735d42f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/a7301b8d-02c5-41c6-8e23-474a735d42f9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/81fdccb1-a26c-4148-8d86-4e270215ce2c.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor da Farm&#225;cia </a> </td>
																		<td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Barramento </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/101764c5-5163-4293-bb9e-994bf9ddfe56.html" target="element">  </a> </td>
																		<td> <a href="../elements/101764c5-5163-4293-bb9e-994bf9ddfe56.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bd749a49-a319-4bf2-9f0e-b88da4e9935f.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor RH </a> </td>
																		<td> <a href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html" target="element"> Servi&#231;o de Agendamento de Limpeza </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/deafbd97-2a0f-43a2-b100-86979487c5e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/deafbd97-2a0f-43a2-b100-86979487c5e9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bd749a49-a319-4bf2-9f0e-b88da4e9935f.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor RH </a> </td>
																		<td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element"> Servi&#231;o de Aloca&#231;&#227;o de Profissionais </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2c7b49ac-218a-446a-8907-4e8d03ed21ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c7b49ac-218a-446a-8907-4e8d03ed21ca.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/bd749a49-a319-4bf2-9f0e-b88da4e9935f.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor RH </a> </td>
																		<td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Barramento </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/b9059ba7-b494-48b5-a0f3-d00faa8fc9f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9059ba7-b494-48b5-a0f3-d00faa8fc9f0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/412a2aee-b6aa-47af-acb4-0fcb3a6ea681.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Engenharia M&#233;dica </a> </td>
																		<td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element"> Servi&#231;o de Agendamento de Equipamentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b7446853-838c-4776-8133-72a1e9fa8881.html" target="element">  </a> </td>
																		<td> <a href="../elements/b7446853-838c-4776-8133-72a1e9fa8881.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/412a2aee-b6aa-47af-acb4-0fcb3a6ea681.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Engenharia M&#233;dica </a> </td>
																		<td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Barramento </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/3bd73015-2ebd-4bc6-8aaf-3203ef53d326.html" target="element">  </a> </td>
																		<td> <a href="../elements/3bd73015-2ebd-4bc6-8aaf-3203ef53d326.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dc2b6e8f-3da7-44c6-802f-eeaab1ce8cb0.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Sala de Cirurgia </a> </td>
																		<td> <a href="../elements/f2267d48-8e87-4bea-92f3-a66fd26ede4a.html" target="element"> Servi&#231;o de Integra&#231;&#227;o de Informa&#231;&#245;es do Intraoperat&#243;ro </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/35e0a399-0495-47c4-854e-af9bb7f6ed3b.html" target="element">  </a> </td>
																				<td> <a href="../elements/35e0a399-0495-47c4-854e-af9bb7f6ed3b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html" target="element"> DB Intraoperat&#243;rio </a> </td>
																				<td> <a href="../elements/dc2b6e8f-3da7-44c6-802f-eeaab1ce8cb0.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Sala de Cirurgia </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/502ccc17-2bc8-4667-a78d-546669a0bfc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/502ccc17-2bc8-4667-a78d-546669a0bfc9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/19c70014-67ef-4c54-b355-383a48e3315f.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor da Farm&#225;cia </a> </td>
																		<td> <a href="../elements/2a0e32e0-12e8-443e-8fb2-03fc38f26a0b.html" target="element"> Reserva de Medicamentos </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/8baccde7-6858-476d-a98d-014cbaf8f429.html" target="element">  </a> </td>
																		<td> <a href="../elements/8baccde7-6858-476d-a98d-014cbaf8f429.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ada1203c-935a-465d-b026-eb05d6aa1596.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Hospital </a> </td>
																		<td> <a href="../elements/97e25aac-f841-4d6a-b0a0-ce4ee66cafc0.html" target="element"> Servi&#231;o de Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/1b7afd4d-7f95-4f56-b1a4-27788f4e7963.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b7afd4d-7f95-4f56-b1a4-27788f4e7963.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0d237b74-a350-4c7f-adc4-dc4de4efb576.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Dados Central do Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/9029166e-c91f-4bb6-944b-c11d7f83dd23.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central do Centro Cir&#250;rgico </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/800006bc-5df3-4f36-95da-04684f89ceb9.html" target="element">  </a> </td>
																				<td> <a href="../elements/800006bc-5df3-4f36-95da-04684f89ceb9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/569a3460-72f8-4f23-825e-8cbd8499188e.html" target="element"> DB de Relat&#243;rios de Anestesia </a> </td>
																				<td> <a href="../elements/0d237b74-a350-4c7f-adc4-dc4de4efb576.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Dados Central do Centro Cir&#250;rgico </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/caf353f7-cb8b-4083-9378-54db96099d97.html" target="element">  </a> </td>
																				<td> <a href="../elements/caf353f7-cb8b-4083-9378-54db96099d97.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html" target="element"> DB Intraoperat&#243;rio </a> </td>
																				<td> <a href="../elements/0d237b74-a350-4c7f-adc4-dc4de4efb576.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Dados Central do Centro Cir&#250;rgico </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b6d7091c-021e-4e89-8dd0-3fa15870513c.html" target="element">  </a> </td>
																				<td> <a href="../elements/b6d7091c-021e-4e89-8dd0-3fa15870513c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/379da2bd-a41f-4425-86cb-26e125dd4798.html" target="element"> DB Centro Cir&#250;rgico </a> </td>
																				<td> <a href="../elements/0d237b74-a350-4c7f-adc4-dc4de4efb576.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Dados Central do Centro Cir&#250;rgico </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/387be662-0b8e-41fc-af98-8720d15f8c5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/387be662-0b8e-41fc-af98-8720d15f8c5d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b72c73b9-b43c-4f23-ba6c-d59e08aa796b.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor Central Divis&#227;o de Anestesia HC </a> </td>
																		<td> <a href="../elements/f707bf61-45b8-47bb-a9de-96d3823b0d72.html" target="element"> Servi&#231;o de Gest&#227;o de Divis&#227;o de Anestesia </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/256dc348-26b3-43dc-a254-d41a56548d08.html" target="element">  </a> </td>
																		<td> <a href="../elements/256dc348-26b3-43dc-a254-d41a56548d08.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/706d5832-1436-4196-a52e-0f6957458f8d.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de QoS </a> </td>
																		<td> <a href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html" target="element"> Servi&#231;o de autoriza&#231;&#227;o </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b92c2ee2-f866-4e77-a1fb-9f1ae621c338.html" target="element">  </a> </td>
																		<td> <a href="../elements/b92c2ee2-f866-4e77-a1fb-9f1ae621c338.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/706d5832-1436-4196-a52e-0f6957458f8d.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de QoS </a> </td>
																		<td> <a href="../elements/841da10c-c520-428f-8fae-3e95a9a3820e.html" target="element"> Servi&#231;o de login </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/256dc348-26b3-43dc-a254-d41a56548d08.html" target="element">  </a> </td>
																		<td> <a href="../elements/256dc348-26b3-43dc-a254-d41a56548d08.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/706d5832-1436-4196-a52e-0f6957458f8d.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de QoS </a> </td>
																		<td> <a href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html" target="element"> Servi&#231;o de autoriza&#231;&#227;o </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1dd7468f-c8d6-49ce-b12a-7c7ce3206d24.html" target="element">  </a> </td>
																		<td> <a href="../elements/1dd7468f-c8d6-49ce-b12a-7c7ce3206d24.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/706d5832-1436-4196-a52e-0f6957458f8d.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de QoS </a> </td>
																		<td> <a href="../elements/9af23016-4603-4433-bf9d-09dc70f77f2a.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de Barramento </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/759daa45-6061-4a09-acb5-d47e969df6f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/759daa45-6061-4a09-acb5-d47e969df6f3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6604d2f1-abf9-47af-9294-93b98261af2d.html" target="element"> &lt;&lt;N&#243;&gt;&gt; DB Login e Autoriza&#231;&#227;o </a> </td>
																		<td> <a href="../elements/706d5832-1436-4196-a52e-0f6957458f8d.html" target="element"> &lt;&lt;N&#243;&gt;&gt; Servidor de QoS </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>