<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Visão de Sistemas</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vis&#227;o de Sistemas</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-requirements_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/96faa8bc-fdc3-4194-971e-06c7408c9af9.png" alt="Visão de Sistemas" usemap="#96faa8bc-fdc3-4194-971e-06c7408c9af9map"/>
			   <map name="96faa8bc-fdc3-4194-971e-06c7408c9af9map">
				  		<area shape="rect" coords="279,790,340,822" href="../elements/fa9f3517-cc29-46ca-b3e2-8b593fc6dce9.html"  target="element">
				  		<area shape="rect" coords="81,794,138,825" href="../elements/2424d476-908f-4319-ba54-dcb3c4472376.html"  target="element">
				  		<area shape="rect" coords="394,743,438,770" href="../elements/bbebaa97-18ac-40fd-80f1-ecb3e6aa31d5.html"  target="element">
				  		<area shape="rect" coords="286,742,333,771" href="../elements/96f410a0-3cf9-49eb-a9ab-3a8d3944f3c9.html"  target="element">
				  		<area shape="rect" coords="82,742,138,772" href="../elements/69325088-c1c9-439c-8fe6-7a1be49fff54.html"  target="element">
				          <area shape="rect" coords="10,730,746,839" href="../objects/5407ca53-ff5b-4f3c-b07a-d867c595555a.html" target="element" >
				  				<area shape="rect" coords="552,124,731,191" href="../elements/f707bf61-45b8-47bb-a9de-96d3823b0d72.html"  target="element">
				  				<area shape="rect" coords="357,214,536,275" href="../elements/e2315241-9145-45e1-a5e3-8b887ec212bc.html"  target="element">
				  				<area shape="rect" coords="355,169,540,215" href="../elements/841da10c-c520-428f-8fae-3e95a9a3820e.html"  target="element">
				  				<area shape="rect" coords="356,120,538,167" href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html"  target="element">
				  				<area shape="rect" coords="555,564,730,613" href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html"  target="element">
				  				<area shape="rect" coords="554,492,730,553" href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html"  target="element">
				  				<area shape="rect" coords="358,492,538,577" href="../elements/f2267d48-8e87-4bea-92f3-a66fd26ede4a.html"  target="element">
				  				<area shape="rect" coords="555,416,729,479" href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html"  target="element">
				  				<area shape="rect" coords="357,586,539,663" href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html"  target="element">
				  				<area shape="rect" coords="554,345,729,409" href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html"  target="element">
				  				<area shape="rect" coords="357,432,539,487" href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html"  target="element">
				  				<area shape="rect" coords="555,274,729,337" href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html"  target="element">
				  				<area shape="rect" coords="357,358,539,421" href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html"  target="element">
				  				<area shape="rect" coords="554,202,730,265" href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html"  target="element">
				  				<area shape="rect" coords="356,286,540,349" href="../elements/468e84bc-065f-4b52-91c8-8727812755ba.html"  target="element">
				  				<area shape="rect" coords="554,54,731,119" href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html"  target="element">
				  				<area shape="rect" coords="354,54,539,119" href="../elements/b1b10201-1510-4f2c-be00-81345e3b3410.html"  target="element">

				  		<area shape="rect" coords="346,22,746,683" href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html"  target="element">
				  				<area shape="rect" coords="176,646,296,701" href="../elements/1b281610-2188-4be9-97e6-aa3bd0bebe55.html"  target="element">
				  				<area shape="rect" coords="25,646,145,701" href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html"  target="element">
				  				<area shape="rect" coords="176,586,296,641" href="../elements/55f53d21-110b-4291-97ea-eacfd2492787.html"  target="element">
				  				<area shape="rect" coords="25,586,145,641" href="../elements/21da2b2f-df01-46dd-9303-36be1fbff980.html"  target="element">
				  				<area shape="rect" coords="174,523,294,578" href="../elements/569a3460-72f8-4f23-825e-8cbd8499188e.html"  target="element">
				  				<area shape="rect" coords="25,525,145,580" href="../elements/e57bd21e-023c-41f9-9917-22187318dbb2.html"  target="element">
				  				<area shape="rect" coords="176,458,296,513" href="../elements/e3d0fb34-46d6-40a2-a984-c5bb00278d64.html"  target="element">
				  				<area shape="rect" coords="25,459,143,514" href="../elements/379da2bd-a41f-4425-86cb-26e125dd4798.html"  target="element">

				  		<area shape="rect" coords="10,418,323,719" href="../elements/6bd9924d-6122-4f65-b6bb-4d6465c192b2.html"  target="element">
				  				<area shape="rect" coords="22,154,272,203" href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html"  target="element">
				  				<area shape="rect" coords="21,94,273,141" href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html"  target="element">
				  				<area shape="rect" coords="21,354,272,393" href="../elements/956d5657-c389-4fd4-8600-02b148d7a1b4.html"  target="element">
				  				<area shape="rect" coords="21,308,272,345" href="../elements/73af12ac-923d-4833-a0be-445a77f3a501.html"  target="element">
				  				<area shape="rect" coords="21,260,272,297" href="../elements/3b82f0dc-5614-44e4-b7b3-9177f88e4e13.html"  target="element">
				  				<area shape="rect" coords="21,212,272,251" href="../elements/2ce1a7a2-b584-4ed6-a043-a08e992cf218.html"  target="element">
				  				<area shape="rect" coords="21,46,272,87" href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html"  target="element">

				  		<area shape="rect" coords="10,10,323,407" href="../elements/b1f90ebe-b490-428d-a25d-1ce011ed42fa.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/b1f90ebe-b490-428d-a25d-1ce011ed42fa.html" target="element"> Sistemas Constituintes do Sistema SIGEAN </a> </td>
											    <td> <a href="../elements/b1f90ebe-b490-428d-a25d-1ce011ed42fa.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element"> Sistema de Ap&#243;io P&#243;s-operat&#243;rio </a> </td>
													    <td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2ce1a7a2-b584-4ed6-a043-a08e992cf218.html" target="element"> Sistema de Engenharia M&#233;dica </a> </td>
													    <td> <a href="../elements/2ce1a7a2-b584-4ed6-a043-a08e992cf218.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3b82f0dc-5614-44e4-b7b3-9177f88e4e13.html" target="element"> Sistema de Farm&#225;cia </a> </td>
													    <td> <a href="../elements/3b82f0dc-5614-44e4-b7b3-9177f88e4e13.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/73af12ac-923d-4833-a0be-445a77f3a501.html" target="element"> Sistema de Gest&#227;o de Leitos </a> </td>
													    <td> <a href="../elements/73af12ac-923d-4833-a0be-445a77f3a501.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/956d5657-c389-4fd4-8600-02b148d7a1b4.html" target="element"> Sistema de Gest&#227;o de RH </a> </td>
													    <td> <a href="../elements/956d5657-c389-4fd4-8600-02b148d7a1b4.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element"> Sistema de Prontu&#225;rio Eletr&#244;nico </a> </td>
													    <td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element"> Sistema Integrado de Apoio Intraoperat&#243;rio </a> </td>
													    <td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6bd9924d-6122-4f65-b6bb-4d6465c192b2.html" target="element"> Reposit&#243;rios do Sistema SIGEAN </a> </td>
											    <td> <a href="../elements/6bd9924d-6122-4f65-b6bb-4d6465c192b2.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/379da2bd-a41f-4425-86cb-26e125dd4798.html" target="element"> DB Centro Cir&#250;rgico </a> </td>
													    <td> <a href="../elements/379da2bd-a41f-4425-86cb-26e125dd4798.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e3d0fb34-46d6-40a2-a984-c5bb00278d64.html" target="element"> DB da Farm&#225;cia </a> </td>
													    <td> <a href="../elements/e3d0fb34-46d6-40a2-a984-c5bb00278d64.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e57bd21e-023c-41f9-9917-22187318dbb2.html" target="element"> DB de Leitos </a> </td>
													    <td> <a href="../elements/e57bd21e-023c-41f9-9917-22187318dbb2.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/569a3460-72f8-4f23-825e-8cbd8499188e.html" target="element"> DB de Relat&#243;rios de Anestesia </a> </td>
													    <td> <a href="../elements/569a3460-72f8-4f23-825e-8cbd8499188e.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/21da2b2f-df01-46dd-9303-36be1fbff980.html" target="element"> DB do Prontu&#225;rio </a> </td>
													    <td> <a href="../elements/21da2b2f-df01-46dd-9303-36be1fbff980.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/55f53d21-110b-4291-97ea-eacfd2492787.html" target="element"> DB Gest&#227;o Equipamentos </a> </td>
													    <td> <a href="../elements/55f53d21-110b-4291-97ea-eacfd2492787.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html" target="element"> DB Intraoperat&#243;rio </a> </td>
													    <td> <a href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1b281610-2188-4be9-97e6-aa3bd0bebe55.html" target="element"> DB RH </a> </td>
													    <td> <a href="../elements/1b281610-2188-4be9-97e6-aa3bd0bebe55.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
											    <td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b1b10201-1510-4f2c-be00-81345e3b3410.html" target="element"> Servi&#231;o de Barramento </a> </td>
													    <td> <a href="../elements/b1b10201-1510-4f2c-be00-81345e3b3410.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element"> Servi&#231;o de Gest&#227;o Integrada de Centro Cir&#250;rgico </a> </td>
													    <td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/468e84bc-065f-4b52-91c8-8727812755ba.html" target="element"> Servi&#231;o Central de Monitoramento Anest&#233;sico </a> </td>
													    <td> <a href="../elements/468e84bc-065f-4b52-91c8-8727812755ba.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element"> Servi&#231;o de Agendamento de Cirurgia </a> </td>
													    <td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element"> Servi&#231;o de Agendamento de Equipamentos </a> </td>
													    <td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html" target="element"> Servi&#231;o de Agendamento de Limpeza </a> </td>
													    <td> <a href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element"> Servi&#231;o de Aloca&#231;&#227;o de Profissionais </a> </td>
													    <td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html" target="element"> Servi&#231;o de Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
													    <td> <a href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element"> Servi&#231;o de Elabora&#231;&#227;o de Relat&#243;rios de Anestesia </a> </td>
													    <td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element"> Servi&#231;o de Gest&#227;o de Informa&#231;&#245;es Cir&#250;rgicas </a> </td>
													    <td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f2267d48-8e87-4bea-92f3-a66fd26ede4a.html" target="element"> Servi&#231;o de Integra&#231;&#227;o de Informa&#231;&#245;es do Intraoperat&#243;ro </a> </td>
													    <td> <a href="../elements/f2267d48-8e87-4bea-92f3-a66fd26ede4a.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element"> Servi&#231;o de Prepara&#231;&#227;o de Cirurgia </a> </td>
													    <td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html" target="element"> Servi&#231;o de Reserva de Leitos </a> </td>
													    <td> <a href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html" target="element"> Servi&#231;o de autoriza&#231;&#227;o </a> </td>
													    <td> <a href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/841da10c-c520-428f-8fae-3e95a9a3820e.html" target="element"> Servi&#231;o de login </a> </td>
													    <td> <a href="../elements/841da10c-c520-428f-8fae-3e95a9a3820e.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e2315241-9145-45e1-a5e3-8b887ec212bc.html" target="element"> Servi&#231;o de monitoramento de sa&#250;de dos  servi&#231;os </a> </td>
													    <td> <a href="../elements/e2315241-9145-45e1-a5e3-8b887ec212bc.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f707bf61-45b8-47bb-a9de-96d3823b0d72.html" target="element"> Servi&#231;o de Gest&#227;o de Divis&#227;o de Anestesia </a> </td>
													    <td> <a href="../elements/f707bf61-45b8-47bb-a9de-96d3823b0d72.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/5407ca53-ff5b-4f3c-b07a-d867c595555a.html" target="element">  </a> </td>
									           <td> <a href="../objects/5407ca53-ff5b-4f3c-b07a-d867c595555a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/69325088-c1c9-439c-8fe6-7a1be49fff54.html" target="element">  </a> </td>
											    <td> <a href="../elements/69325088-c1c9-439c-8fe6-7a1be49fff54.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/96f410a0-3cf9-49eb-a9ab-3a8d3944f3c9.html" target="element">  </a> </td>
											    <td> <a href="../elements/96f410a0-3cf9-49eb-a9ab-3a8d3944f3c9.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bbebaa97-18ac-40fd-80f1-ecb3e6aa31d5.html" target="element">  </a> </td>
											    <td> <a href="../elements/bbebaa97-18ac-40fd-80f1-ecb3e6aa31d5.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2424d476-908f-4319-ba54-dcb3c4472376.html" target="element">  </a> </td>
											    <td> <a href="../elements/2424d476-908f-4319-ba54-dcb3c4472376.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fa9f3517-cc29-46ca-b3e2-8b593fc6dce9.html" target="element">  </a> </td>
											    <td> <a href="../elements/fa9f3517-cc29-46ca-b3e2-8b593fc6dce9.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/50cfd653-ea65-4e96-a321-23983dd04c24.html" target="element">  </a> </td>
																		<td> <a href="../elements/50cfd653-ea65-4e96-a321-23983dd04c24.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b1f90ebe-b490-428d-a25d-1ce011ed42fa.html" target="element"> Sistemas Constituintes do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element"> Sistema de Ap&#243;io P&#243;s-operat&#243;rio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f22f9a5f-c7d9-4872-bff6-0a80c221549e.html" target="element">  </a> </td>
																		<td> <a href="../elements/f22f9a5f-c7d9-4872-bff6-0a80c221549e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b1f90ebe-b490-428d-a25d-1ce011ed42fa.html" target="element"> Sistemas Constituintes do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/2ce1a7a2-b584-4ed6-a043-a08e992cf218.html" target="element"> Sistema de Engenharia M&#233;dica </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d6287314-2566-4904-b5e9-5c262cc749a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/d6287314-2566-4904-b5e9-5c262cc749a8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b1f90ebe-b490-428d-a25d-1ce011ed42fa.html" target="element"> Sistemas Constituintes do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/3b82f0dc-5614-44e4-b7b3-9177f88e4e13.html" target="element"> Sistema de Farm&#225;cia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2f6358d5-9cf9-41d2-b4d2-0347e3bfad2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/2f6358d5-9cf9-41d2-b4d2-0347e3bfad2e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b1f90ebe-b490-428d-a25d-1ce011ed42fa.html" target="element"> Sistemas Constituintes do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/73af12ac-923d-4833-a0be-445a77f3a501.html" target="element"> Sistema de Gest&#227;o de Leitos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f64a105a-4c5d-4e73-bb38-aefad9c3c097.html" target="element">  </a> </td>
																		<td> <a href="../elements/f64a105a-4c5d-4e73-bb38-aefad9c3c097.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b1f90ebe-b490-428d-a25d-1ce011ed42fa.html" target="element"> Sistemas Constituintes do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/956d5657-c389-4fd4-8600-02b148d7a1b4.html" target="element"> Sistema de Gest&#227;o de RH </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b21d67e7-2e00-483b-a6c3-3a6ab538be94.html" target="element">  </a> </td>
																		<td> <a href="../elements/b21d67e7-2e00-483b-a6c3-3a6ab538be94.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b1f90ebe-b490-428d-a25d-1ce011ed42fa.html" target="element"> Sistemas Constituintes do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element"> Sistema de Prontu&#225;rio Eletr&#244;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/03ead331-4ff0-40a7-b043-b18fd1bd7154.html" target="element">  </a> </td>
																		<td> <a href="../elements/03ead331-4ff0-40a7-b043-b18fd1bd7154.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b1f90ebe-b490-428d-a25d-1ce011ed42fa.html" target="element"> Sistemas Constituintes do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element"> Sistema Integrado de Apoio Intraoperat&#243;rio </a> </td>
																	</tr>

											
																			<tr>
																				<td> <a href="../elements/29fdc948-33ad-492e-b8e6-85e02d34f0de.html" target="element">  </a> </td>
																				<td> <a href="../elements/29fdc948-33ad-492e-b8e6-85e02d34f0de.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/379da2bd-a41f-4425-86cb-26e125dd4798.html" target="element"> DB Centro Cir&#250;rgico </a> </td>
																				<td> <a href="../elements/6bd9924d-6122-4f65-b6bb-4d6465c192b2.html" target="element"> Reposit&#243;rios do Sistema SIGEAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/715900a7-033f-45de-a47a-ab5f14ca6b85.html" target="element">  </a> </td>
																				<td> <a href="../elements/715900a7-033f-45de-a47a-ab5f14ca6b85.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/e3d0fb34-46d6-40a2-a984-c5bb00278d64.html" target="element"> DB da Farm&#225;cia </a> </td>
																				<td> <a href="../elements/6bd9924d-6122-4f65-b6bb-4d6465c192b2.html" target="element"> Reposit&#243;rios do Sistema SIGEAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9f18deb2-1aa4-4161-8a80-de0929c8f37f.html" target="element">  </a> </td>
																				<td> <a href="../elements/9f18deb2-1aa4-4161-8a80-de0929c8f37f.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/e57bd21e-023c-41f9-9917-22187318dbb2.html" target="element"> DB de Leitos </a> </td>
																				<td> <a href="../elements/6bd9924d-6122-4f65-b6bb-4d6465c192b2.html" target="element"> Reposit&#243;rios do Sistema SIGEAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/11416ddd-6fcb-458b-b9a7-403440cbf478.html" target="element">  </a> </td>
																				<td> <a href="../elements/11416ddd-6fcb-458b-b9a7-403440cbf478.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/569a3460-72f8-4f23-825e-8cbd8499188e.html" target="element"> DB de Relat&#243;rios de Anestesia </a> </td>
																				<td> <a href="../elements/6bd9924d-6122-4f65-b6bb-4d6465c192b2.html" target="element"> Reposit&#243;rios do Sistema SIGEAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2fbb8308-c482-4dcd-a4b8-e16b1d6b16a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/2fbb8308-c482-4dcd-a4b8-e16b1d6b16a9.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/21da2b2f-df01-46dd-9303-36be1fbff980.html" target="element"> DB do Prontu&#225;rio </a> </td>
																				<td> <a href="../elements/6bd9924d-6122-4f65-b6bb-4d6465c192b2.html" target="element"> Reposit&#243;rios do Sistema SIGEAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/36eaabb3-3c5f-47f8-8490-be5f43ea298c.html" target="element">  </a> </td>
																				<td> <a href="../elements/36eaabb3-3c5f-47f8-8490-be5f43ea298c.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/55f53d21-110b-4291-97ea-eacfd2492787.html" target="element"> DB Gest&#227;o Equipamentos </a> </td>
																				<td> <a href="../elements/6bd9924d-6122-4f65-b6bb-4d6465c192b2.html" target="element"> Reposit&#243;rios do Sistema SIGEAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/cbee1e57-6164-4425-9395-115c24ea7db6.html" target="element">  </a> </td>
																				<td> <a href="../elements/cbee1e57-6164-4425-9395-115c24ea7db6.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html" target="element"> DB Intraoperat&#243;rio </a> </td>
																				<td> <a href="../elements/6bd9924d-6122-4f65-b6bb-4d6465c192b2.html" target="element"> Reposit&#243;rios do Sistema SIGEAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/55ecd8a2-0c3c-4076-ac33-474bb570cd9b.html" target="element">  </a> </td>
																				<td> <a href="../elements/55ecd8a2-0c3c-4076-ac33-474bb570cd9b.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/1b281610-2188-4be9-97e6-aa3bd0bebe55.html" target="element"> DB RH </a> </td>
																				<td> <a href="../elements/6bd9924d-6122-4f65-b6bb-4d6465c192b2.html" target="element"> Reposit&#243;rios do Sistema SIGEAN </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/8451a2b1-02b7-44b4-9198-5480382f882f.html" target="element">  </a> </td>
																		<td> <a href="../elements/8451a2b1-02b7-44b4-9198-5480382f882f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/b1b10201-1510-4f2c-be00-81345e3b3410.html" target="element"> Servi&#231;o de Barramento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cbe2ef96-82bc-4a63-894d-7703386d7b87.html" target="element">  </a> </td>
																		<td> <a href="../elements/cbe2ef96-82bc-4a63-894d-7703386d7b87.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element"> Servi&#231;o de Gest&#227;o Integrada de Centro Cir&#250;rgico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/93eb930b-8d43-4b67-a8b5-6746620b0ef6.html" target="element">  </a> </td>
																		<td> <a href="../elements/93eb930b-8d43-4b67-a8b5-6746620b0ef6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/468e84bc-065f-4b52-91c8-8727812755ba.html" target="element"> Servi&#231;o Central de Monitoramento Anest&#233;sico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2d9c53ca-6807-4737-9e40-ceae5334e0a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/2d9c53ca-6807-4737-9e40-ceae5334e0a6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element"> Servi&#231;o de Agendamento de Cirurgia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9d1a1689-f136-408d-9f14-308996ee105f.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d1a1689-f136-408d-9f14-308996ee105f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element"> Servi&#231;o de Agendamento de Equipamentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dd7cb754-6ff3-4c14-8b4f-567f3b0428a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/dd7cb754-6ff3-4c14-8b4f-567f3b0428a2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html" target="element"> Servi&#231;o de Agendamento de Limpeza </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1faad02a-f535-4a57-8e77-effe3d2e8e7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/1faad02a-f535-4a57-8e77-effe3d2e8e7e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element"> Servi&#231;o de Aloca&#231;&#227;o de Profissionais </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ae0216bc-5794-4bb1-8d4b-8e6e3df16ab6.html" target="element">  </a> </td>
																		<td> <a href="../elements/ae0216bc-5794-4bb1-8d4b-8e6e3df16ab6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html" target="element"> Servi&#231;o de Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fc98496c-99cf-4e87-9edf-52eab3a8b46b.html" target="element">  </a> </td>
																		<td> <a href="../elements/fc98496c-99cf-4e87-9edf-52eab3a8b46b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element"> Servi&#231;o de Elabora&#231;&#227;o de Relat&#243;rios de Anestesia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/99315c1f-d0bd-4a1f-8503-6d1807ff8ad9.html" target="element">  </a> </td>
																		<td> <a href="../elements/99315c1f-d0bd-4a1f-8503-6d1807ff8ad9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element"> Servi&#231;o de Gest&#227;o de Informa&#231;&#245;es Cir&#250;rgicas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6eaddd8e-d8b6-4023-bede-983f66b62e65.html" target="element">  </a> </td>
																		<td> <a href="../elements/6eaddd8e-d8b6-4023-bede-983f66b62e65.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/f2267d48-8e87-4bea-92f3-a66fd26ede4a.html" target="element"> Servi&#231;o de Integra&#231;&#227;o de Informa&#231;&#245;es do Intraoperat&#243;ro </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e7848199-4e3e-4fd5-bd4d-dc96cc009009.html" target="element">  </a> </td>
																		<td> <a href="../elements/e7848199-4e3e-4fd5-bd4d-dc96cc009009.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element"> Servi&#231;o de Prepara&#231;&#227;o de Cirurgia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/251481e7-1868-4d0d-8cf8-f4617f61334c.html" target="element">  </a> </td>
																		<td> <a href="../elements/251481e7-1868-4d0d-8cf8-f4617f61334c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html" target="element"> Servi&#231;o de Reserva de Leitos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e3660be7-fb41-4865-bd4b-2b807e2a252a.html" target="element">  </a> </td>
																		<td> <a href="../elements/e3660be7-fb41-4865-bd4b-2b807e2a252a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html" target="element"> Servi&#231;o de autoriza&#231;&#227;o </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dee55a5b-2fb4-4c0d-b9bd-9f2a656f2eb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/dee55a5b-2fb4-4c0d-b9bd-9f2a656f2eb0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/841da10c-c520-428f-8fae-3e95a9a3820e.html" target="element"> Servi&#231;o de login </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6c85ea22-482f-4254-aaec-8cec16570147.html" target="element">  </a> </td>
																		<td> <a href="../elements/6c85ea22-482f-4254-aaec-8cec16570147.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/e2315241-9145-45e1-a5e3-8b887ec212bc.html" target="element"> Servi&#231;o de monitoramento de sa&#250;de dos  servi&#231;os </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/56f6c68b-b7c9-4051-a6c9-296e19aaf529.html" target="element">  </a> </td>
																		<td> <a href="../elements/56f6c68b-b7c9-4051-a6c9-296e19aaf529.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a74441cb-1788-4b78-9aa9-22e77726a554.html" target="element"> Servi&#231;os do Sistema SIGEAN </a> </td>
																		<td> <a href="../elements/f707bf61-45b8-47bb-a9de-96d3823b0d72.html" target="element"> Servi&#231;o de Gest&#227;o de Divis&#227;o de Anestesia </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>