<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Visão em Camadas</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vis&#227;o em Camadas</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-layered"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_layered" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a6e911c0-8527-468e-84f9-2b740b45811e.png" alt="Visão em Camadas" usemap="#a6e911c0-8527-468e-84f9-2b740b45811emap"/>
			   <map name="a6e911c0-8527-468e-84f9-2b740b45811emap">
				  		<area shape="rect" coords="1234,936,1300,977" href="../elements/bdf382ec-3e3f-457d-97e9-fc110fd5e481.html"  target="element">
				  		<area shape="rect" coords="1030,937,1102,977" href="../elements/a5c8c6bf-7d89-4ca9-a619-1102ebf9b371.html"  target="element">
				  		<area shape="rect" coords="815,939,887,975" href="../elements/f645e4ba-3299-41ed-b835-b881713f1167.html"  target="element">
				  		<area shape="rect" coords="610,942,676,978" href="../elements/2801b4b7-9a74-46b7-a8fc-8be731ed1d37.html"  target="element">
				  		<area shape="rect" coords="418,944,466,980" href="../elements/ec412b0f-ac6e-4393-b589-15ac92e9bcd8.html"  target="element">
				  		<area shape="rect" coords="276,942,336,978" href="../elements/bfc1919d-369e-4cd7-b492-37c8a4c2ad87.html"  target="element">
				          <area shape="rect" coords="130,937,190,983" href="../objects/f1a0ebf9-05ec-4b78-bba4-7c59ea2aa5b4.html" target="element" >
				          <area shape="rect" coords="33,922,1355,1002" href="../objects/733980fd-ef77-4bea-bbf2-0f046d4e75c5.html" target="element" >
				  		<area shape="rect" coords="655,10,831,65" href="../elements/48c90eeb-f208-4ef1-ae25-58b26471b209.html"  target="element">
				  		<area shape="rect" coords="1582,694,1702,734" href="../elements/e10585cb-b19b-4b43-802f-749a60dec122.html"  target="element">
				  		<area shape="rect" coords="1273,711,1393,747" href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html"  target="element">
				  		<area shape="rect" coords="1090,701,1210,756" href="../elements/84e11b08-492a-444a-a2c4-d010681c390b.html"  target="element">
				  		<area shape="rect" coords="886,694,1018,749" href="../elements/967e2ee5-9e8b-4108-94cc-70c4924eaec5.html"  target="element">
				  		<area shape="rect" coords="670,699,816,747" href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html"  target="element">
				  		<area shape="rect" coords="418,694,538,734" href="../elements/e10585cb-b19b-4b43-802f-749a60dec122.html"  target="element">
				  		<area shape="rect" coords="1198,10,1318,65" href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html"  target="element">
				  		<area shape="rect" coords="1042,10,1186,65" href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html"  target="element">
				  				<area shape="rect" coords="646,178,830,240" href="../elements/f707bf61-45b8-47bb-a9de-96d3823b0d72.html"  target="element">
				  				<area shape="rect" coords="1102,188,1294,248" href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html"  target="element">

				          <area shape="rect" coords="334,154,1738,282" href="../objects/d2af04c1-61ac-4bd5-86f0-9585a7435af0.html" target="element" >
				  				<area shape="rect" coords="1534,316,1690,394" href="../elements/468e84bc-065f-4b52-91c8-8727812755ba.html"  target="element">
				  				<area shape="rect" coords="1270,322,1486,387" href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html"  target="element">
				  				<area shape="rect" coords="826,315,1019,375" href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html"  target="element">
				  				<area shape="rect" coords="442,315,633,386" href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html"  target="element">

				          <area shape="rect" coords="334,286,1739,400" href="../objects/cf280bd0-fdc5-4671-b66b-bb3d087e3e20.html" target="element" >
				  				<area shape="rect" coords="1558,443,1716,534" href="../elements/f2267d48-8e87-4bea-92f3-a66fd26ede4a.html"  target="element">
				  				<area shape="rect" coords="1354,457,1523,534" href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html"  target="element">
				  				<area shape="rect" coords="346,464,477,528" href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html"  target="element">
				  				<area shape="rect" coords="850,461,999,516" href="../elements/835fc6a8-1482-4780-9930-729e8c74ce69.html"  target="element">
				  				<area shape="rect" coords="694,463,835,529" href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html"  target="element">
				  				<area shape="rect" coords="1006,432,1147,520" href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html"  target="element">
				  				<area shape="rect" coords="514,461,646,531" href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html"  target="element">
				  				<area shape="rect" coords="1174,446,1308,531" href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html"  target="element">

				          <area shape="rect" coords="334,406,1739,551" href="../objects/2f5ea8d3-cfce-496a-97db-4bc15a2755f9.html" target="element" >
				  				<area shape="rect" coords="1618,802,1738,857" href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html"  target="element">
				  				<area shape="rect" coords="1486,802,1606,857" href="../elements/379da2bd-a41f-4425-86cb-26e125dd4798.html"  target="element">
				  				<area shape="rect" coords="1354,802,1474,857" href="../elements/569a3460-72f8-4f23-825e-8cbd8499188e.html"  target="element">
				  				<area shape="rect" coords="1186,802,1306,857" href="../elements/21da2b2f-df01-46dd-9303-36be1fbff980.html"  target="element">
				  				<area shape="rect" coords="1006,808,1126,863" href="../elements/55f53d21-110b-4291-97ea-eacfd2492787.html"  target="element">
				  				<area shape="rect" coords="814,814,934,869" href="../elements/e3d0fb34-46d6-40a2-a984-c5bb00278d64.html"  target="element">
				  				<area shape="rect" coords="598,820,718,863" href="../elements/1b281610-2188-4be9-97e6-aa3bd0bebe55.html"  target="element">
				  				<area shape="rect" coords="346,814,466,869" href="../elements/e57bd21e-023c-41f9-9917-22187318dbb2.html"  target="element">

				          <area shape="rect" coords="334,766,1750,886" href="../objects/a3d11ab9-c4cb-4c6d-94a7-fa8baab3c6b6.html" target="element" >
				  				<area shape="rect" coords="1355,596,1475,666" href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html"  target="element">
				  				<area shape="rect" coords="1511,595,1680,666" href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html"  target="element">
				  				<area shape="rect" coords="1011,596,1131,666" href="../elements/2ce1a7a2-b584-4ed6-a043-a08e992cf218.html"  target="element">
				  				<area shape="rect" coords="591,605,711,675" href="../elements/956d5657-c389-4fd4-8600-02b148d7a1b4.html"  target="element">
				  				<area shape="rect" coords="827,595,947,650" href="../elements/3b82f0dc-5614-44e4-b7b3-9177f88e4e13.html"  target="element">
				  				<area shape="rect" coords="347,603,467,662" href="../elements/73af12ac-923d-4833-a0be-445a77f3a501.html"  target="element">
				  				<area shape="rect" coords="1179,595,1299,656" href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html"  target="element">

				          <area shape="rect" coords="335,567,1739,683" href="../objects/7ec7596f-5628-47b2-9f67-90ee1c70658e.html" target="element" >
				  				<area shape="rect" coords="190,454,322,514" href="../elements/b1b10201-1510-4f2c-be00-81345e3b3410.html"  target="element">

				          <area shape="rect" coords="178,118,1774,898" href="../objects/e9d755ac-53f9-4cad-8abc-ba48bd31c091.html" target="element" >
				  				<area shape="rect" coords="22,490,166,545" href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html"  target="element">
				  				<area shape="rect" coords="22,370,166,425" href="../elements/841da10c-c520-428f-8fae-3e95a9a3820e.html"  target="element">
				  				<area shape="rect" coords="22,226,166,310" href="../elements/e2315241-9145-45e1-a5e3-8b887ec212bc.html"  target="element">

				          <area shape="rect" coords="10,82,1798,910" href="../objects/d45bced6-c654-47ee-ae34-003b234f6626.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/d45bced6-c654-47ee-ae34-003b234f6626.html" target="element"> Qualidade de Servi&#231;o (QoS) </a> </td>
									           <td> <a href="../objects/d45bced6-c654-47ee-ae34-003b234f6626.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/e2315241-9145-45e1-a5e3-8b887ec212bc.html" target="element"> Servi&#231;o de monitoramento de sa&#250;de dos  servi&#231;os </a> </td>
													    <td> <a href="../elements/e2315241-9145-45e1-a5e3-8b887ec212bc.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/841da10c-c520-428f-8fae-3e95a9a3820e.html" target="element"> Servi&#231;o de login </a> </td>
													    <td> <a href="../elements/841da10c-c520-428f-8fae-3e95a9a3820e.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html" target="element"> Servi&#231;o de autoriza&#231;&#227;o </a> </td>
													    <td> <a href="../elements/2aba58a6-e8fc-4be9-9306-ba7fb1bb0c90.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/e9d755ac-53f9-4cad-8abc-ba48bd31c091.html" target="element"> Camada de Integra&#231;&#227;o </a> </td>
									           <td> <a href="../objects/e9d755ac-53f9-4cad-8abc-ba48bd31c091.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/b1b10201-1510-4f2c-be00-81345e3b3410.html" target="element"> Servi&#231;o de Barramento </a> </td>
													    <td> <a href="../elements/b1b10201-1510-4f2c-be00-81345e3b3410.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/7ec7596f-5628-47b2-9f67-90ee1c70658e.html" target="element"> Camada de Sistemas </a> </td>
									           <td> <a href="../objects/7ec7596f-5628-47b2-9f67-90ee1c70658e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element"> Sistema de Prontu&#225;rio Eletr&#244;nico </a> </td>
													    <td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/73af12ac-923d-4833-a0be-445a77f3a501.html" target="element"> Sistema de Gest&#227;o de Leitos </a> </td>
													    <td> <a href="../elements/73af12ac-923d-4833-a0be-445a77f3a501.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3b82f0dc-5614-44e4-b7b3-9177f88e4e13.html" target="element"> Sistema de Farm&#225;cia </a> </td>
													    <td> <a href="../elements/3b82f0dc-5614-44e4-b7b3-9177f88e4e13.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/956d5657-c389-4fd4-8600-02b148d7a1b4.html" target="element"> Sistema de Gest&#227;o de RH </a> </td>
													    <td> <a href="../elements/956d5657-c389-4fd4-8600-02b148d7a1b4.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2ce1a7a2-b584-4ed6-a043-a08e992cf218.html" target="element"> Sistema de Engenharia M&#233;dica </a> </td>
													    <td> <a href="../elements/2ce1a7a2-b584-4ed6-a043-a08e992cf218.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element"> Sistema Integrado de Apoio Intraoperat&#243;rio </a> </td>
													    <td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element"> Sistema de Ap&#243;io P&#243;s-operat&#243;rio </a> </td>
													    <td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/a3d11ab9-c4cb-4c6d-94a7-fa8baab3c6b6.html" target="element"> Camada de Dados </a> </td>
									           <td> <a href="../objects/a3d11ab9-c4cb-4c6d-94a7-fa8baab3c6b6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/e57bd21e-023c-41f9-9917-22187318dbb2.html" target="element"> DB de Leitos </a> </td>
													    <td> <a href="../elements/e57bd21e-023c-41f9-9917-22187318dbb2.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1b281610-2188-4be9-97e6-aa3bd0bebe55.html" target="element"> DB RH </a> </td>
													    <td> <a href="../elements/1b281610-2188-4be9-97e6-aa3bd0bebe55.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e3d0fb34-46d6-40a2-a984-c5bb00278d64.html" target="element"> DB da Farm&#225;cia </a> </td>
													    <td> <a href="../elements/e3d0fb34-46d6-40a2-a984-c5bb00278d64.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/55f53d21-110b-4291-97ea-eacfd2492787.html" target="element"> DB Gest&#227;o Equipamentos </a> </td>
													    <td> <a href="../elements/55f53d21-110b-4291-97ea-eacfd2492787.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/21da2b2f-df01-46dd-9303-36be1fbff980.html" target="element"> DB do Prontu&#225;rio </a> </td>
													    <td> <a href="../elements/21da2b2f-df01-46dd-9303-36be1fbff980.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/569a3460-72f8-4f23-825e-8cbd8499188e.html" target="element"> DB de Relat&#243;rios de Anestesia </a> </td>
													    <td> <a href="../elements/569a3460-72f8-4f23-825e-8cbd8499188e.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/379da2bd-a41f-4425-86cb-26e125dd4798.html" target="element"> DB Centro Cir&#250;rgico </a> </td>
													    <td> <a href="../elements/379da2bd-a41f-4425-86cb-26e125dd4798.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html" target="element"> DB Intraoperat&#243;rio </a> </td>
													    <td> <a href="../elements/0681719c-32b3-4d8d-ad46-2bf7d3948d68.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/2f5ea8d3-cfce-496a-97db-4bc15a2755f9.html" target="element"> Camada de Servi&#231;os B&#225;sicos </a> </td>
									           <td> <a href="../objects/2f5ea8d3-cfce-496a-97db-4bc15a2755f9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html" target="element"> Servi&#231;o de Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
													    <td> <a href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element"> Servi&#231;o de Aloca&#231;&#227;o de Profissionais </a> </td>
													    <td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element"> Servi&#231;o de Agendamento de Equipamentos </a> </td>
													    <td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html" target="element"> Servi&#231;o de Agendamento de Limpeza </a> </td>
													    <td> <a href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/835fc6a8-1482-4780-9930-729e8c74ce69.html" target="element"> Reserva de Medicamentos </a> </td>
													    <td> <a href="../elements/835fc6a8-1482-4780-9930-729e8c74ce69.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html" target="element"> Servi&#231;o de Reserva de Leitos </a> </td>
													    <td> <a href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element"> Servi&#231;o de Elabora&#231;&#227;o de Relat&#243;rios de Anestesia </a> </td>
													    <td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f2267d48-8e87-4bea-92f3-a66fd26ede4a.html" target="element"> Servi&#231;o de Integra&#231;&#227;o de Informa&#231;&#245;es do Intraoperat&#243;ro </a> </td>
													    <td> <a href="../elements/f2267d48-8e87-4bea-92f3-a66fd26ede4a.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/cf280bd0-fdc5-4671-b66b-bb3d087e3e20.html" target="element"> Camada de Servi&#231;os de Neg&#243;cio </a> </td>
									           <td> <a href="../objects/cf280bd0-fdc5-4671-b66b-bb3d087e3e20.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element"> Servi&#231;o de Agendamento de Cirurgia </a> </td>
													    <td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element"> Servi&#231;o de Prepara&#231;&#227;o de Cirurgia </a> </td>
													    <td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element"> Servi&#231;o de Gest&#227;o de Informa&#231;&#245;es Cir&#250;rgicas </a> </td>
													    <td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/468e84bc-065f-4b52-91c8-8727812755ba.html" target="element"> Servi&#231;o Central de Monitoramento Anest&#233;sico </a> </td>
													    <td> <a href="../elements/468e84bc-065f-4b52-91c8-8727812755ba.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/d2af04c1-61ac-4bd5-86f0-9585a7435af0.html" target="element"> Camada de Servi&#231;os de Consumidor  </a> </td>
									           <td> <a href="../objects/d2af04c1-61ac-4bd5-86f0-9585a7435af0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element"> Servi&#231;o de Gest&#227;o Integrada de Centro Cir&#250;rgico </a> </td>
													    <td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f707bf61-45b8-47bb-a9de-96d3823b0d72.html" target="element"> Servi&#231;o de Gest&#227;o de Divis&#227;o de Anestesia </a> </td>
													    <td> <a href="../elements/f707bf61-45b8-47bb-a9de-96d3823b0d72.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html" target="element"> Coordenador de Centro Cir&#250;rgico </a> </td>
											    <td> <a href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element"> Anestesista </a> </td>
											    <td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e10585cb-b19b-4b43-802f-749a60dec122.html" target="element"> Enfermera </a> </td>
											    <td> <a href="../elements/e10585cb-b19b-4b43-802f-749a60dec122.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html" target="element"> Coordenador de Centro Cir&#250;rgico </a> </td>
											    <td> <a href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/967e2ee5-9e8b-4108-94cc-70c4924eaec5.html" target="element"> Administrador de Farm&#225;cia </a> </td>
											    <td> <a href="../elements/967e2ee5-9e8b-4108-94cc-70c4924eaec5.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/84e11b08-492a-444a-a2c4-d010681c390b.html" target="element"> Engenheiro Biom&#233;dico </a> </td>
											    <td> <a href="../elements/84e11b08-492a-444a-a2c4-d010681c390b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element"> Anestesista </a> </td>
											    <td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e10585cb-b19b-4b43-802f-749a60dec122.html" target="element"> Enfermera </a> </td>
											    <td> <a href="../elements/e10585cb-b19b-4b43-802f-749a60dec122.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/48c90eeb-f208-4ef1-ae25-58b26471b209.html" target="element"> Coordenador da Divis&#227;o de Anestesia </a> </td>
											    <td> <a href="../elements/48c90eeb-f208-4ef1-ae25-58b26471b209.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/733980fd-ef77-4bea-bbf2-0f046d4e75c5.html" target="element">  </a> </td>
									           <td> <a href="../objects/733980fd-ef77-4bea-bbf2-0f046d4e75c5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/f1a0ebf9-05ec-4b78-bba4-7c59ea2aa5b4.html" target="element">  </a> </td>
									           <td> <a href="../objects/f1a0ebf9-05ec-4b78-bba4-7c59ea2aa5b4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/bfc1919d-369e-4cd7-b492-37c8a4c2ad87.html" target="element">  </a> </td>
											    <td> <a href="../elements/bfc1919d-369e-4cd7-b492-37c8a4c2ad87.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ec412b0f-ac6e-4393-b589-15ac92e9bcd8.html" target="element">  </a> </td>
											    <td> <a href="../elements/ec412b0f-ac6e-4393-b589-15ac92e9bcd8.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2801b4b7-9a74-46b7-a8fc-8be731ed1d37.html" target="element">  </a> </td>
											    <td> <a href="../elements/2801b4b7-9a74-46b7-a8fc-8be731ed1d37.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f645e4ba-3299-41ed-b835-b881713f1167.html" target="element">  </a> </td>
											    <td> <a href="../elements/f645e4ba-3299-41ed-b835-b881713f1167.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a5c8c6bf-7d89-4ca9-a619-1102ebf9b371.html" target="element">  </a> </td>
											    <td> <a href="../elements/a5c8c6bf-7d89-4ca9-a619-1102ebf9b371.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bdf382ec-3e3f-457d-97e9-fc110fd5e481.html" target="element">  </a> </td>
											    <td> <a href="../elements/bdf382ec-3e3f-457d-97e9-fc110fd5e481.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/912b3d5a-c839-4334-938e-afad477f3ed1.html" target="element">  </a> </td>
																				<td> <a href="../elements/912b3d5a-c839-4334-938e-afad477f3ed1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element"> Sistema de Prontu&#225;rio Eletr&#244;nico </a> </td>
																				<td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element"> Anestesista </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/84ffeb1b-5703-4a26-b7f7-6e12c5d7b4e9.html" target="element">  </a> </td>
																				<td> <a href="../elements/84ffeb1b-5703-4a26-b7f7-6e12c5d7b4e9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/73af12ac-923d-4833-a0be-445a77f3a501.html" target="element"> Sistema de Gest&#227;o de Leitos </a> </td>
																				<td> <a href="../elements/e10585cb-b19b-4b43-802f-749a60dec122.html" target="element"> Enfermera </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e261b350-f384-4dad-9659-a0067274d3e3.html" target="element">  </a> </td>
																				<td> <a href="../elements/e261b350-f384-4dad-9659-a0067274d3e3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/956d5657-c389-4fd4-8600-02b148d7a1b4.html" target="element"> Sistema de Gest&#227;o de RH </a> </td>
																				<td> <a href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html" target="element"> Coordenador de Centro Cir&#250;rgico </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/82bd1983-1962-4dd7-bc0a-a6917ba1799e.html" target="element">  </a> </td>
																				<td> <a href="../elements/82bd1983-1962-4dd7-bc0a-a6917ba1799e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/2ce1a7a2-b584-4ed6-a043-a08e992cf218.html" target="element"> Sistema de Engenharia M&#233;dica </a> </td>
																				<td> <a href="../elements/84e11b08-492a-444a-a2c4-d010681c390b.html" target="element"> Engenheiro Biom&#233;dico </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8d95a3f3-8121-4327-bcee-b9359886a724.html" target="element">  </a> </td>
																				<td> <a href="../elements/8d95a3f3-8121-4327-bcee-b9359886a724.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element"> Sistema Integrado de Apoio Intraoperat&#243;rio </a> </td>
																				<td> <a href="../elements/e10585cb-b19b-4b43-802f-749a60dec122.html" target="element"> Enfermera </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e9161dae-7386-4663-ba59-6beec1e28303.html" target="element">  </a> </td>
																				<td> <a href="../elements/e9161dae-7386-4663-ba59-6beec1e28303.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element"> Sistema de Ap&#243;io P&#243;s-operat&#243;rio </a> </td>
																				<td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element"> Anestesista </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/8706201f-63f1-4521-a202-374cc0e36ea0.html" target="element">  </a> </td>
																		<td> <a href="../elements/8706201f-63f1-4521-a202-374cc0e36ea0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html" target="element"> Coordenador de Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element"> Servi&#231;o de Gest&#227;o Integrada de Centro Cir&#250;rgico </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a8ad1ffc-1a83-47f3-810d-80d4654c91fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8ad1ffc-1a83-47f3-810d-80d4654c91fa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element"> Anestesista </a> </td>
																		<td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element"> Servi&#231;o de Gest&#227;o Integrada de Centro Cir&#250;rgico </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5c4f49bd-2d10-40ab-a53a-ceb03f8c140b.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c4f49bd-2d10-40ab-a53a-ceb03f8c140b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/967e2ee5-9e8b-4108-94cc-70c4924eaec5.html" target="element"> Administrador de Farm&#225;cia </a> </td>
																		<td> <a href="../elements/3b82f0dc-5614-44e4-b7b3-9177f88e4e13.html" target="element"> Sistema de Farm&#225;cia </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5e1c024b-fef3-4543-b958-f341f1a41f70.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e1c024b-fef3-4543-b958-f341f1a41f70.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element"> Anestesista </a> </td>
																		<td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element"> Sistema Integrado de Apoio Intraoperat&#243;rio </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/087a5778-b130-40d6-9148-011f4d4221e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/087a5778-b130-40d6-9148-011f4d4221e8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/48c90eeb-f208-4ef1-ae25-58b26471b209.html" target="element"> Coordenador da Divis&#227;o de Anestesia </a> </td>
																		<td> <a href="../elements/f707bf61-45b8-47bb-a9de-96d3823b0d72.html" target="element"> Servi&#231;o de Gest&#227;o de Divis&#227;o de Anestesia </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>