<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Visão Lógica</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vis&#227;o L&#243;gica</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-information_structure"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_information_structure" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/baa7955e-6ea6-4cea-9bb9-7df0d1071cb0.png" alt="Visão Lógica" usemap="#baa7955e-6ea6-4cea-9bb9-7df0d1071cb0map"/>
			   <map name="baa7955e-6ea6-4cea-9bb9-7df0d1071cb0map">
				  		<area shape="rect" coords="453,838,502,875" href="../elements/549825c7-0857-4603-92dd-be4530bc0400.html"  target="element">
				          <area shape="rect" coords="381,826,694,911" href="../objects/a5524707-4496-47b8-8210-2512e1fcd0ec.html" target="element" >
				  		<area shape="rect" coords="141,659,261,714" href="../elements/c2e03080-ce33-47a0-89bb-9ef06f90b8c1.html"  target="element">
				  		<area shape="rect" coords="141,591,261,646" href="../elements/fa215e16-226b-4390-92cc-66001188636b.html"  target="element">
				  		<area shape="rect" coords="887,605,1007,660" href="../elements/cc84a11a-9201-45ce-bfcd-5d435a5907bd.html"  target="element">
				  		<area shape="rect" coords="800,709,946,764" href="../elements/8c46ea10-89e9-47ac-a5e3-9f9daba05f23.html"  target="element">
				  		<area shape="rect" coords="609,706,729,761" href="../elements/714bcc1f-47ea-42a6-baa2-cef9eb490dd1.html"  target="element">
				  		<area shape="rect" coords="885,532,1005,587" href="../elements/17b8bd6e-9ff2-4c8c-b196-c9a69cfa13f0.html"  target="element">
				  		<area shape="rect" coords="345,622,465,677" href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html"  target="element">
				  		<area shape="rect" coords="345,550,465,605" href="../elements/d0080c28-2f88-4e2b-883c-f3cf2cd17a44.html"  target="element">
				  		<area shape="rect" coords="585,574,753,646" href="../elements/5345efc9-32d2-4237-9c53-a2eb975f82fd.html"  target="element">
				  		<area shape="rect" coords="1078,134,1198,189" href="../elements/d0080c28-2f88-4e2b-883c-f3cf2cd17a44.html"  target="element">
				  		<area shape="rect" coords="934,136,1054,191" href="../elements/fa215e16-226b-4390-92cc-66001188636b.html"  target="element">
				  		<area shape="rect" coords="714,232,834,287" href="../elements/e35eca31-c3ce-4385-b480-c5aad83923ef.html"  target="element">
				  		<area shape="rect" coords="317,213,437,268" href="../elements/4b9a18e8-5b97-48bb-82ad-2937dfd9f0d2.html"  target="element">
				  		<area shape="rect" coords="191,214,311,269" href="../elements/c2e03080-ce33-47a0-89bb-9ef06f90b8c1.html"  target="element">
				  		<area shape="rect" coords="58,214,178,269" href="../elements/fa215e16-226b-4390-92cc-66001188636b.html"  target="element">
				  		<area shape="rect" coords="177,118,297,173" href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html"  target="element">
				  		<area shape="rect" coords="561,22,706,77" href="../elements/689edaf1-1c9e-48a7-a4f0-ce23d687a1e6.html"  target="element">
				  		<area shape="rect" coords="706,127,863,200" href="../elements/cd59f0fe-8921-45a5-8b9d-b95cf8d1e78b.html"  target="element">
				  		<area shape="rect" coords="574,127,694,200" href="../elements/93acd498-e3ad-4e83-b6cc-7e2850992455.html"  target="element">
				  		<area shape="rect" coords="442,136,562,191" href="../elements/bc6f8fa3-def0-4a6f-aebf-90506184c2cf.html"  target="element">
				  		<area shape="rect" coords="994,10,1129,89" href="../elements/73dbe8d7-b0f1-4fc7-98a0-72b20c0e51d5.html"  target="element">
				  		<area shape="rect" coords="10,34,130,89" href="../elements/b3c1cb2d-169f-4ec6-a94c-80512326eb53.html"  target="element">
				  		<area shape="rect" coords="166,34,286,89" href="../elements/8bc3b78b-e808-41f7-b044-54d6943f69e3.html"  target="element">
				  				<area shape="rect" coords="345,742,465,797" href="../elements/4b9a18e8-5b97-48bb-82ad-2937dfd9f0d2.html"  target="element">
				  				<area shape="rect" coords="717,382,837,437" href="../elements/853f1fe5-dcee-4a93-bd32-59e46dbce2f5.html"  target="element">
				  				<area shape="rect" coords="93,382,213,437" href="../elements/eff5c6eb-ae69-42ae-95b4-5c00b2d9b42a.html"  target="element">
				  				<area shape="rect" coords="286,382,418,437" href="../elements/88d48b25-5f90-487f-b45e-049570caa6ee.html"  target="element">
				  				<area shape="rect" coords="489,382,609,437" href="../elements/ba4754df-fffc-4221-bd5a-602bef6250ae.html"  target="element">

				  		<area shape="rect" coords="69,346,1054,815" href="../elements/8ba1233c-8c58-4f51-8957-8ce5c0096f0d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> idSala </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> idProfissional </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> idPaciente </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> idTipoCirurgia </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> dataCirurgia </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr><tr><td> horaCirurgia </td><td> <xmp class="no-margin" style="white-space:pre-wrap"></xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/8ba1233c-8c58-4f51-8957-8ce5c0096f0d.html" target="element"> Informa&#231;&#245;es requeridas no procedimento de avalia&#231;&#227;o RPA </a> </td>
											    <td> <a href="../elements/8ba1233c-8c58-4f51-8957-8ce5c0096f0d.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ba4754df-fffc-4221-bd5a-602bef6250ae.html" target="element"> Unidade RPA </a> </td>
													    <td> <a href="../elements/ba4754df-fffc-4221-bd5a-602bef6250ae.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/88d48b25-5f90-487f-b45e-049570caa6ee.html" target="element"> Centro Cirurgico </a> </td>
													    <td> <a href="../elements/88d48b25-5f90-487f-b45e-049570caa6ee.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/eff5c6eb-ae69-42ae-95b4-5c00b2d9b42a.html" target="element"> Instituto </a> </td>
													    <td> <a href="../elements/eff5c6eb-ae69-42ae-95b4-5c00b2d9b42a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/853f1fe5-dcee-4a93-bd32-59e46dbce2f5.html" target="element"> Sala RPA </a> </td>
													    <td> <a href="../elements/853f1fe5-dcee-4a93-bd32-59e46dbce2f5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4b9a18e8-5b97-48bb-82ad-2937dfd9f0d2.html" target="element"> Sala de Cirurgia </a> </td>
													    <td> <a href="../elements/4b9a18e8-5b97-48bb-82ad-2937dfd9f0d2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/8bc3b78b-e808-41f7-b044-54d6943f69e3.html" target="element"> Escalas dos Profissionais </a> </td>
											    <td> <a href="../elements/8bc3b78b-e808-41f7-b044-54d6943f69e3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b3c1cb2d-169f-4ec6-a94c-80512326eb53.html" target="element"> Lista de Leitos Reservados </a> </td>
											    <td> <a href="../elements/b3c1cb2d-169f-4ec6-a94c-80512326eb53.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/73dbe8d7-b0f1-4fc7-98a0-72b20c0e51d5.html" target="element"> &lt;&lt;Registro&gt;&gt; Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
											    <td> <a href="../elements/73dbe8d7-b0f1-4fc7-98a0-72b20c0e51d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bc6f8fa3-def0-4a6f-aebf-90506184c2cf.html" target="element"> Solicita&#231;&#227;o de Limpeza de Sala </a> </td>
											    <td> <a href="../elements/bc6f8fa3-def0-4a6f-aebf-90506184c2cf.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/93acd498-e3ad-4e83-b6cc-7e2850992455.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Equipamentos </a> </td>
											    <td> <a href="../elements/93acd498-e3ad-4e83-b6cc-7e2850992455.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cd59f0fe-8921-45a5-8b9d-b95cf8d1e78b.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Medicamentos </a> </td>
											    <td> <a href="../elements/cd59f0fe-8921-45a5-8b9d-b95cf8d1e78b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/689edaf1-1c9e-48a7-a4f0-ce23d687a1e6.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Sala </a> </td>
											    <td> <a href="../elements/689edaf1-1c9e-48a7-a4f0-ce23d687a1e6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html" target="element"> Registro de Cirurgia </a> </td>
											    <td> <a href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fa215e16-226b-4390-92cc-66001188636b.html" target="element"> Paciente </a> </td>
											    <td> <a href="../elements/fa215e16-226b-4390-92cc-66001188636b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c2e03080-ce33-47a0-89bb-9ef06f90b8c1.html" target="element"> Lista de Profissionais </a> </td>
											    <td> <a href="../elements/c2e03080-ce33-47a0-89bb-9ef06f90b8c1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4b9a18e8-5b97-48bb-82ad-2937dfd9f0d2.html" target="element"> Sala de Cirurgia </a> </td>
											    <td> <a href="../elements/4b9a18e8-5b97-48bb-82ad-2937dfd9f0d2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e35eca31-c3ce-4385-b480-c5aad83923ef.html" target="element"> Lista Medicamentos </a> </td>
											    <td> <a href="../elements/e35eca31-c3ce-4385-b480-c5aad83923ef.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fa215e16-226b-4390-92cc-66001188636b.html" target="element"> Paciente </a> </td>
											    <td> <a href="../elements/fa215e16-226b-4390-92cc-66001188636b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d0080c28-2f88-4e2b-883c-f3cf2cd17a44.html" target="element"> Anestesista </a> </td>
											    <td> <a href="../elements/d0080c28-2f88-4e2b-883c-f3cf2cd17a44.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5345efc9-32d2-4237-9c53-a2eb975f82fd.html" target="element"> &lt;&lt;Registro&gt;&gt; Recupera&#231;&#227;o P&#243;s-Anest&#233;sica </a> </td>
											    <td> <a href="../elements/5345efc9-32d2-4237-9c53-a2eb975f82fd.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d0080c28-2f88-4e2b-883c-f3cf2cd17a44.html" target="element"> Anestesista </a> </td>
											    <td> <a href="../elements/d0080c28-2f88-4e2b-883c-f3cf2cd17a44.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html" target="element"> Registro de Cirurgia </a> </td>
											    <td> <a href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17b8bd6e-9ff2-4c8c-b196-c9a69cfa13f0.html" target="element"> Enfermagem </a> </td>
											    <td> <a href="../elements/17b8bd6e-9ff2-4c8c-b196-c9a69cfa13f0.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/714bcc1f-47ea-42a6-baa2-cef9eb490dd1.html" target="element"> &lt;&lt;Registro&gt;&gt; Avalia&#231;&#227;o RPA </a> </td>
											    <td> <a href="../elements/714bcc1f-47ea-42a6-baa2-cef9eb490dd1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8c46ea10-89e9-47ac-a5e3-9f9daba05f23.html" target="element"> &lt;&lt;Registro&gt;&gt; Intercorrencia RPA </a> </td>
											    <td> <a href="../elements/8c46ea10-89e9-47ac-a5e3-9f9daba05f23.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc84a11a-9201-45ce-bfcd-5d435a5907bd.html" target="element"> Alta anestesica </a> </td>
											    <td> <a href="../elements/cc84a11a-9201-45ce-bfcd-5d435a5907bd.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fa215e16-226b-4390-92cc-66001188636b.html" target="element"> Paciente </a> </td>
											    <td> <a href="../elements/fa215e16-226b-4390-92cc-66001188636b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c2e03080-ce33-47a0-89bb-9ef06f90b8c1.html" target="element"> Lista de Profissionais </a> </td>
											    <td> <a href="../elements/c2e03080-ce33-47a0-89bb-9ef06f90b8c1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/a5524707-4496-47b8-8210-2512e1fcd0ec.html" target="element">  </a> </td>
									           <td> <a href="../objects/a5524707-4496-47b8-8210-2512e1fcd0ec.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/549825c7-0857-4603-92dd-be4530bc0400.html" target="element">  </a> </td>
											    <td> <a href="../elements/549825c7-0857-4603-92dd-be4530bc0400.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/26d17e8b-1284-4591-a889-d1c148d67f15.html" target="element">  </a> </td>
																		<td> <a href="../elements/26d17e8b-1284-4591-a889-d1c148d67f15.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8ba1233c-8c58-4f51-8957-8ce5c0096f0d.html" target="element"> Informa&#231;&#245;es requeridas no procedimento de avalia&#231;&#227;o RPA </a> </td>
																		<td> <a href="../elements/4b9a18e8-5b97-48bb-82ad-2937dfd9f0d2.html" target="element"> Sala de Cirurgia </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/968518bb-cb61-4159-81fa-2ac6d5d1387d.html" target="element"> 1     * </a> </td>
																				<td> <a href="../elements/968518bb-cb61-4159-81fa-2ac6d5d1387d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/ba4754df-fffc-4221-bd5a-602bef6250ae.html" target="element"> Unidade RPA </a> </td>
																				<td> <a href="../elements/853f1fe5-dcee-4a93-bd32-59e46dbce2f5.html" target="element"> Sala RPA </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d687bfe2-9d02-4d95-96b5-3cd8ddaed9c0.html" target="element"> 1  * </a> </td>
																				<td> <a href="../elements/d687bfe2-9d02-4d95-96b5-3cd8ddaed9c0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/88d48b25-5f90-487f-b45e-049570caa6ee.html" target="element"> Centro Cirurgico </a> </td>
																				<td> <a href="../elements/ba4754df-fffc-4221-bd5a-602bef6250ae.html" target="element"> Unidade RPA </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/50bfba97-1c19-45ff-a76e-30f812ddca48.html" target="element"> 1  * </a> </td>
																				<td> <a href="../elements/50bfba97-1c19-45ff-a76e-30f812ddca48.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/eff5c6eb-ae69-42ae-95b4-5c00b2d9b42a.html" target="element"> Instituto </a> </td>
																				<td> <a href="../elements/88d48b25-5f90-487f-b45e-049570caa6ee.html" target="element"> Centro Cirurgico </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/b00fb7a4-3b03-4a6e-9cd6-b2088811c4a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/b00fb7a4-3b03-4a6e-9cd6-b2088811c4a5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8bc3b78b-e808-41f7-b044-54d6943f69e3.html" target="element"> Escalas dos Profissionais </a> </td>
																		<td> <a href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html" target="element"> Registro de Cirurgia </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/493a5548-c883-44d8-b1de-ea6cbff7b31c.html" target="element">  </a> </td>
																		<td> <a href="../elements/493a5548-c883-44d8-b1de-ea6cbff7b31c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/73dbe8d7-b0f1-4fc7-98a0-72b20c0e51d5.html" target="element"> &lt;&lt;Registro&gt;&gt; Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
																		<td> <a href="../elements/fa215e16-226b-4390-92cc-66001188636b.html" target="element"> Paciente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ccb4ac86-2e3c-4b2b-917b-f07f8fffec2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/ccb4ac86-2e3c-4b2b-917b-f07f8fffec2c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/73dbe8d7-b0f1-4fc7-98a0-72b20c0e51d5.html" target="element"> &lt;&lt;Registro&gt;&gt; Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
																		<td> <a href="../elements/d0080c28-2f88-4e2b-883c-f3cf2cd17a44.html" target="element"> Anestesista </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/03f84b59-0f82-420c-91d8-8ff982bcd433.html" target="element">  </a> </td>
																		<td> <a href="../elements/03f84b59-0f82-420c-91d8-8ff982bcd433.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cd59f0fe-8921-45a5-8b9d-b95cf8d1e78b.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Medicamentos </a> </td>
																		<td> <a href="../elements/e35eca31-c3ce-4385-b480-c5aad83923ef.html" target="element"> Lista Medicamentos </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/223bfee5-0a73-4ca6-a8db-7212702f2ba4.html" target="element">  </a> </td>
																		<td> <a href="../elements/223bfee5-0a73-4ca6-a8db-7212702f2ba4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/689edaf1-1c9e-48a7-a4f0-ce23d687a1e6.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Sala </a> </td>
																		<td> <a href="../elements/bc6f8fa3-def0-4a6f-aebf-90506184c2cf.html" target="element"> Solicita&#231;&#227;o de Limpeza de Sala </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bb11bf7c-59a7-42b1-9c19-6bcdeebc361e.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb11bf7c-59a7-42b1-9c19-6bcdeebc361e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/689edaf1-1c9e-48a7-a4f0-ce23d687a1e6.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Sala </a> </td>
																		<td> <a href="../elements/93acd498-e3ad-4e83-b6cc-7e2850992455.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Equipamentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/21054dd7-20f0-4a33-ad6d-d998ce378b27.html" target="element">  </a> </td>
																		<td> <a href="../elements/21054dd7-20f0-4a33-ad6d-d998ce378b27.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/689edaf1-1c9e-48a7-a4f0-ce23d687a1e6.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Sala </a> </td>
																		<td> <a href="../elements/cd59f0fe-8921-45a5-8b9d-b95cf8d1e78b.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Medicamentos </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e1dbae24-a54a-46b7-9336-29085a8f3f7f.html" target="element"> 1 </a> </td>
																		<td> <a href="../elements/e1dbae24-a54a-46b7-9336-29085a8f3f7f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html" target="element"> Registro de Cirurgia </a> </td>
																		<td> <a href="../elements/fa215e16-226b-4390-92cc-66001188636b.html" target="element"> Paciente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bc541009-6996-4072-9412-ddfa02b2ccc1.html" target="element"> 1 </a> </td>
																		<td> <a href="../elements/bc541009-6996-4072-9412-ddfa02b2ccc1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html" target="element"> Registro de Cirurgia </a> </td>
																		<td> <a href="../elements/c2e03080-ce33-47a0-89bb-9ef06f90b8c1.html" target="element"> Lista de Profissionais </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96fdffee-c84a-41af-9588-ec47b22bb612.html" target="element"> 1 </a> </td>
																		<td> <a href="../elements/96fdffee-c84a-41af-9588-ec47b22bb612.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html" target="element"> Registro de Cirurgia </a> </td>
																		<td> <a href="../elements/4b9a18e8-5b97-48bb-82ad-2937dfd9f0d2.html" target="element"> Sala de Cirurgia </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/86e9bbe9-fb9e-4e07-8755-790d9c4f4bd0.html" target="element"> * realiza * </a> </td>
																		<td> <a href="../elements/86e9bbe9-fb9e-4e07-8755-790d9c4f4bd0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5345efc9-32d2-4237-9c53-a2eb975f82fd.html" target="element"> &lt;&lt;Registro&gt;&gt; Recupera&#231;&#227;o P&#243;s-Anest&#233;sica </a> </td>
																		<td> <a href="../elements/d0080c28-2f88-4e2b-883c-f3cf2cd17a44.html" target="element"> Anestesista </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0c9a1c72-29a8-4f6e-b09d-33fd1868d9be.html" target="element">  </a> </td>
																		<td> <a href="../elements/0c9a1c72-29a8-4f6e-b09d-33fd1868d9be.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5345efc9-32d2-4237-9c53-a2eb975f82fd.html" target="element"> &lt;&lt;Registro&gt;&gt; Recupera&#231;&#227;o P&#243;s-Anest&#233;sica </a> </td>
																		<td> <a href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html" target="element"> Registro de Cirurgia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b88b8afe-008f-425b-908b-c4586bfed7bf.html" target="element"> *  apoia * </a> </td>
																		<td> <a href="../elements/b88b8afe-008f-425b-908b-c4586bfed7bf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5345efc9-32d2-4237-9c53-a2eb975f82fd.html" target="element"> &lt;&lt;Registro&gt;&gt; Recupera&#231;&#227;o P&#243;s-Anest&#233;sica </a> </td>
																		<td> <a href="../elements/17b8bd6e-9ff2-4c8c-b196-c9a69cfa13f0.html" target="element"> Enfermagem </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c41093c8-3c0e-4f4c-bf77-e1462c3998e2.html" target="element"> *            1 </a> </td>
																		<td> <a href="../elements/c41093c8-3c0e-4f4c-bf77-e1462c3998e2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5345efc9-32d2-4237-9c53-a2eb975f82fd.html" target="element"> &lt;&lt;Registro&gt;&gt; Recupera&#231;&#227;o P&#243;s-Anest&#233;sica </a> </td>
																		<td> <a href="../elements/714bcc1f-47ea-42a6-baa2-cef9eb490dd1.html" target="element"> &lt;&lt;Registro&gt;&gt; Avalia&#231;&#227;o RPA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/646e2903-f087-4da0-99db-5f17de9f9dfc.html" target="element"> 1 </a> </td>
																		<td> <a href="../elements/646e2903-f087-4da0-99db-5f17de9f9dfc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5345efc9-32d2-4237-9c53-a2eb975f82fd.html" target="element"> &lt;&lt;Registro&gt;&gt; Recupera&#231;&#227;o P&#243;s-Anest&#233;sica </a> </td>
																		<td> <a href="../elements/cc84a11a-9201-45ce-bfcd-5d435a5907bd.html" target="element"> Alta anestesica </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4b340b25-8b69-43e9-8b55-0c13cd470605.html" target="element"> 1 </a> </td>
																		<td> <a href="../elements/4b340b25-8b69-43e9-8b55-0c13cd470605.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5345efc9-32d2-4237-9c53-a2eb975f82fd.html" target="element"> &lt;&lt;Registro&gt;&gt; Recupera&#231;&#227;o P&#243;s-Anest&#233;sica </a> </td>
																		<td> <a href="../elements/8c46ea10-89e9-47ac-a5e3-9f9daba05f23.html" target="element"> &lt;&lt;Registro&gt;&gt; Intercorrencia RPA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fecf0d52-110d-41b7-8773-f3e3abf55d94.html" target="element"> 1 </a> </td>
																		<td> <a href="../elements/fecf0d52-110d-41b7-8773-f3e3abf55d94.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5345efc9-32d2-4237-9c53-a2eb975f82fd.html" target="element"> &lt;&lt;Registro&gt;&gt; Recupera&#231;&#227;o P&#243;s-Anest&#233;sica </a> </td>
																		<td> <a href="../elements/853f1fe5-dcee-4a93-bd32-59e46dbce2f5.html" target="element"> Sala RPA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e1dbae24-a54a-46b7-9336-29085a8f3f7f.html" target="element"> 1 </a> </td>
																		<td> <a href="../elements/e1dbae24-a54a-46b7-9336-29085a8f3f7f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html" target="element"> Registro de Cirurgia </a> </td>
																		<td> <a href="../elements/fa215e16-226b-4390-92cc-66001188636b.html" target="element"> Paciente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bc541009-6996-4072-9412-ddfa02b2ccc1.html" target="element"> 1 </a> </td>
																		<td> <a href="../elements/bc541009-6996-4072-9412-ddfa02b2ccc1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html" target="element"> Registro de Cirurgia </a> </td>
																		<td> <a href="../elements/c2e03080-ce33-47a0-89bb-9ef06f90b8c1.html" target="element"> Lista de Profissionais </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96fdffee-c84a-41af-9588-ec47b22bb612.html" target="element"> 1 </a> </td>
																		<td> <a href="../elements/96fdffee-c84a-41af-9588-ec47b22bb612.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1f0d350d-2718-4e22-a8c5-6529c0685b9f.html" target="element"> Registro de Cirurgia </a> </td>
																		<td> <a href="../elements/4b9a18e8-5b97-48bb-82ad-2937dfd9f0d2.html" target="element"> Sala de Cirurgia </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/1df92799-9c26-42ae-9fb5-2f98e176854a.html" target="element">  </a> </td>
																		<td> <a href="../elements/1df92799-9c26-42ae-9fb5-2f98e176854a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/549825c7-0857-4603-92dd-be4530bc0400.html" target="element">  </a> </td>
																		<td> <a href="../elements/549825c7-0857-4603-92dd-be4530bc0400.html" target="element">  </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>