<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Visão de Processo Pré-Operatório</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vis&#227;o de Processo Pr&#233;-Operat&#243;rio</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/d5077355-a4e2-49b8-b12e-746141e8d922.png" alt="Visão de Processo Pré-Operatório" usemap="#d5077355-a4e2-49b8-b12e-746141e8d922map"/>
			   <map name="d5077355-a4e2-49b8-b12e-746141e8d922map">
				  		<area shape="rect" coords="131,721,187,753" href="../elements/078ff576-6bb3-426d-b299-386cccd85d50.html"  target="element">
				  		<area shape="rect" coords="275,724,318,749" href="../elements/abaec5cf-ce10-4523-b2ca-d9a78c149f6e.html"  target="element">
				  		<area shape="rect" coords="635,722,703,752" href="../elements/8e584e8d-ffe7-4f6b-8c8c-ebb667b3d052.html"  target="element">
				  		<area shape="rect" coords="443,724,504,749" href="../elements/a90dcf38-7e88-43aa-b9c7-9e6c01a25cf6.html"  target="element">
				  		<area shape="rect" coords="71,10,215,65" href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html"  target="element">
				  		<area shape="rect" coords="292,10,533,65" href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html"  target="element">
				  		<area shape="rect" coords="599,10,711,54" href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html"  target="element">
				  				<area shape="rect" coords="432,598,569,653" href="../elements/bc6f8fa3-def0-4a6f-aebf-90506184c2cf.html"  target="element">
				  				<area shape="rect" coords="611,598,768,659" href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html"  target="element">
				  				<area shape="rect" coords="432,514,573,581" href="../elements/cd59f0fe-8921-45a5-8b9d-b95cf8d1e78b.html"  target="element">
				  				<area shape="rect" coords="610,512,768,567" href="../elements/835fc6a8-1482-4780-9930-729e8c74ce69.html"  target="element">
				  				<area shape="rect" coords="431,437,571,504" href="../elements/93acd498-e3ad-4e83-b6cc-7e2850992455.html"  target="element">
				  				<area shape="rect" coords="611,438,768,504" href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html"  target="element">
				  				<area shape="rect" coords="40,433,160,509" href="../elements/689edaf1-1c9e-48a7-a4f0-ce23d687a1e6.html"  target="element">
				  				<area shape="rect" coords="213,439,372,503" href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html"  target="element">
				  				<area shape="rect" coords="35,324,165,395" href="../elements/73dbe8d7-b0f1-4fc7-98a0-72b20c0e51d5.html"  target="element">
				  				<area shape="rect" coords="215,324,372,407" href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html"  target="element">
				  				<area shape="rect" coords="215,226,335,281" href="../elements/b3c1cb2d-169f-4ec6-a94c-80512326eb53.html"  target="element">
				  				<area shape="rect" coords="28,226,148,281" href="../elements/8bc3b78b-e808-41f7-b044-54d6943f69e3.html"  target="element">
				  				<area shape="rect" coords="427,238,574,297" href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html"  target="element">
				  				<area shape="rect" coords="191,146,372,207" href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html"  target="element">
				  				<area shape="rect" coords="427,143,560,210" href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html"  target="element">
				  				<area shape="rect" coords="431,324,574,395" href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html"  target="element">

				  		<area shape="rect" coords="10,106,816,683" href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html"  target="element">
				          <area shape="rect" coords="10,694,816,767" href="../objects/0f286ad0-af9f-4bfd-b214-b8c792cd8cf7.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/0f286ad0-af9f-4bfd-b214-b8c792cd8cf7.html" target="element">  </a> </td>
									           <td> <a href="../objects/0f286ad0-af9f-4bfd-b214-b8c792cd8cf7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
											    <td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html" target="element"> Servi&#231;o de Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
													    <td> <a href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element"> Servi&#231;o de Aloca&#231;&#227;o de Profissionais </a> </td>
													    <td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element"> Servi&#231;o de Agendamento de Cirurgia </a> </td>
													    <td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html" target="element"> Servi&#231;o de Reserva de Leitos </a> </td>
													    <td> <a href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8bc3b78b-e808-41f7-b044-54d6943f69e3.html" target="element"> Escalas dos Profissionais </a> </td>
													    <td> <a href="../elements/8bc3b78b-e808-41f7-b044-54d6943f69e3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b3c1cb2d-169f-4ec6-a94c-80512326eb53.html" target="element"> Lista de Leitos Reservados </a> </td>
													    <td> <a href="../elements/b3c1cb2d-169f-4ec6-a94c-80512326eb53.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element"> Servi&#231;o de Gest&#227;o de Informa&#231;&#245;es Cir&#250;rgicas </a> </td>
													    <td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/73dbe8d7-b0f1-4fc7-98a0-72b20c0e51d5.html" target="element"> &lt;&lt;Registro&gt;&gt; Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
													    <td> <a href="../elements/73dbe8d7-b0f1-4fc7-98a0-72b20c0e51d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element"> Servi&#231;o de Prepara&#231;&#227;o de Cirurgia </a> </td>
													    <td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/689edaf1-1c9e-48a7-a4f0-ce23d687a1e6.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Sala </a> </td>
													    <td> <a href="../elements/689edaf1-1c9e-48a7-a4f0-ce23d687a1e6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element"> Servi&#231;o de Agendamento de Equipamentos </a> </td>
													    <td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/93acd498-e3ad-4e83-b6cc-7e2850992455.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Equipamentos </a> </td>
													    <td> <a href="../elements/93acd498-e3ad-4e83-b6cc-7e2850992455.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/835fc6a8-1482-4780-9930-729e8c74ce69.html" target="element"> Reserva de Medicamentos </a> </td>
													    <td> <a href="../elements/835fc6a8-1482-4780-9930-729e8c74ce69.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cd59f0fe-8921-45a5-8b9d-b95cf8d1e78b.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Medicamentos </a> </td>
													    <td> <a href="../elements/cd59f0fe-8921-45a5-8b9d-b95cf8d1e78b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html" target="element"> Servi&#231;o de Agendamento de Limpeza </a> </td>
													    <td> <a href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bc6f8fa3-def0-4a6f-aebf-90506184c2cf.html" target="element"> Solicita&#231;&#227;o de Limpeza de Sala </a> </td>
													    <td> <a href="../elements/bc6f8fa3-def0-4a6f-aebf-90506184c2cf.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element"> Anestesista </a> </td>
											    <td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element"> Servi&#231;o de Gest&#227;o Integrada de Centro Cir&#250;rgico </a> </td>
											    <td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html" target="element"> Coordenador de Centro Cir&#250;rgico </a> </td>
											    <td> <a href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a90dcf38-7e88-43aa-b9c7-9e6c01a25cf6.html" target="element">  </a> </td>
											    <td> <a href="../elements/a90dcf38-7e88-43aa-b9c7-9e6c01a25cf6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8e584e8d-ffe7-4f6b-8c8c-ebb667b3d052.html" target="element">  </a> </td>
											    <td> <a href="../elements/8e584e8d-ffe7-4f6b-8c8c-ebb667b3d052.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/abaec5cf-ce10-4523-b2ca-d9a78c149f6e.html" target="element">  </a> </td>
											    <td> <a href="../elements/abaec5cf-ce10-4523-b2ca-d9a78c149f6e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/078ff576-6bb3-426d-b299-386cccd85d50.html" target="element">  </a> </td>
											    <td> <a href="../elements/078ff576-6bb3-426d-b299-386cccd85d50.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/6a0b0041-d564-496e-a5e9-668892ce1824.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a0b0041-d564-496e-a5e9-668892ce1824.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element"> Servi&#231;o de Aloca&#231;&#227;o de Profissionais </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/74c533df-7ee1-40ad-bd96-4937bf4dc4f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/74c533df-7ee1-40ad-bd96-4937bf4dc4f7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/b3c1cb2d-169f-4ec6-a94c-80512326eb53.html" target="element"> Lista de Leitos Reservados </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5249c916-ac7b-42ae-b225-d32c62151255.html" target="element">  </a> </td>
																		<td> <a href="../elements/5249c916-ac7b-42ae-b225-d32c62151255.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html" target="element"> Servi&#231;o de Reserva de Leitos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b4241ad0-f88f-4d7c-aa10-03a320968b0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/b4241ad0-f88f-4d7c-aa10-03a320968b0c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element"> Servi&#231;o de Agendamento de Cirurgia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/19ca9d1a-2693-4f0f-ae82-0554fa303cfb.html" target="element">  </a> </td>
																		<td> <a href="../elements/19ca9d1a-2693-4f0f-ae82-0554fa303cfb.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/8bc3b78b-e808-41f7-b044-54d6943f69e3.html" target="element"> Escalas dos Profissionais </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/67411025-a1b8-45aa-9e67-5106b81e39ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/67411025-a1b8-45aa-9e67-5106b81e39ea.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/73dbe8d7-b0f1-4fc7-98a0-72b20c0e51d5.html" target="element"> &lt;&lt;Registro&gt;&gt; Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8994629b-e167-40f6-b931-1aa8db635dc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/8994629b-e167-40f6-b931-1aa8db635dc4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html" target="element"> Servi&#231;o de Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/67c2374a-36d2-4baf-bb52-20958d9b6491.html" target="element">  </a> </td>
																		<td> <a href="../elements/67c2374a-36d2-4baf-bb52-20958d9b6491.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element"> Servi&#231;o de Gest&#227;o de Informa&#231;&#245;es Cir&#250;rgicas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/77562298-a2d0-4efe-a35c-f75bdeb255d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/77562298-a2d0-4efe-a35c-f75bdeb255d1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element"> Servi&#231;o de Prepara&#231;&#227;o de Cirurgia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5fd7a8c3-a4ef-42b8-8917-bf19b801bcd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/5fd7a8c3-a4ef-42b8-8917-bf19b801bcd2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/689edaf1-1c9e-48a7-a4f0-ce23d687a1e6.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Sala </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7660c42e-f66f-4db3-a629-4a68efdb9746.html" target="element">  </a> </td>
																		<td> <a href="../elements/7660c42e-f66f-4db3-a629-4a68efdb9746.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/93acd498-e3ad-4e83-b6cc-7e2850992455.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Equipamentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/13e51813-d326-4ed6-9685-176f16c51531.html" target="element">  </a> </td>
																		<td> <a href="../elements/13e51813-d326-4ed6-9685-176f16c51531.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/cd59f0fe-8921-45a5-8b9d-b95cf8d1e78b.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Medicamentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/460302b3-c8b6-4321-a9b1-789cb17695a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/460302b3-c8b6-4321-a9b1-789cb17695a7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/bc6f8fa3-def0-4a6f-aebf-90506184c2cf.html" target="element"> Solicita&#231;&#227;o de Limpeza de Sala </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1c266021-c218-4002-aebd-5a845f0a7fd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/1c266021-c218-4002-aebd-5a845f0a7fd8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element"> Servi&#231;o de Agendamento de Equipamentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/698ab5ee-c381-41e5-bf21-785225cdcca6.html" target="element">  </a> </td>
																		<td> <a href="../elements/698ab5ee-c381-41e5-bf21-785225cdcca6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/835fc6a8-1482-4780-9930-729e8c74ce69.html" target="element"> Reserva de Medicamentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3abc6e6b-4d18-4943-9f92-26f2e185d468.html" target="element">  </a> </td>
																		<td> <a href="../elements/3abc6e6b-4d18-4943-9f92-26f2e185d468.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																		<td> <a href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html" target="element"> Servi&#231;o de Agendamento de Limpeza </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/b88085a5-802c-4c9e-95e9-a21cbf9ba3fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/b88085a5-802c-4c9e-95e9-a21cbf9ba3fb.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/5766c159-5a80-4ea6-88e0-a55fd0e42d67.html" target="element"> Servi&#231;o de Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
																				<td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element"> Servi&#231;o de Gest&#227;o de Informa&#231;&#245;es Cir&#250;rgicas </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7baacf7c-8e24-4d4d-a398-1efb6841492b.html" target="element">  </a> </td>
																				<td> <a href="../elements/7baacf7c-8e24-4d4d-a398-1efb6841492b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/c99041ef-0e9d-47b5-bd6e-26da39f928ab.html" target="element"> Servi&#231;o de Aloca&#231;&#227;o de Profissionais </a> </td>
																				<td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element"> Servi&#231;o de Agendamento de Cirurgia </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d8db45d8-000f-43db-a924-4c290ef72eda.html" target="element">  </a> </td>
																				<td> <a href="../elements/d8db45d8-000f-43db-a924-4c290ef72eda.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element"> Servi&#231;o de Agendamento de Cirurgia </a> </td>
																				<td> <a href="../elements/b3c1cb2d-169f-4ec6-a94c-80512326eb53.html" target="element"> Lista de Leitos Reservados </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c57ae50a-165c-4038-8d76-b7b453ecec75.html" target="element">  </a> </td>
																				<td> <a href="../elements/c57ae50a-165c-4038-8d76-b7b453ecec75.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element"> Servi&#231;o de Agendamento de Cirurgia </a> </td>
																				<td> <a href="../elements/8bc3b78b-e808-41f7-b044-54d6943f69e3.html" target="element"> Escalas dos Profissionais </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/35e17660-7afd-4983-b93d-f841e7aa87dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/35e17660-7afd-4983-b93d-f841e7aa87dd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/29466875-b7c4-435e-80ef-e767dfe3d16e.html" target="element"> Servi&#231;o de Reserva de Leitos </a> </td>
																				<td> <a href="../elements/0227b552-3b5d-4103-8ebc-cbbd6e279d9c.html" target="element"> Servi&#231;o de Agendamento de Cirurgia </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/bd33edb3-68c2-476b-aeec-49c9030e52fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/bd33edb3-68c2-476b-aeec-49c9030e52fa.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/0d318029-79d9-4633-b642-2f0ce298c935.html" target="element"> Servi&#231;o de Gest&#227;o de Informa&#231;&#245;es Cir&#250;rgicas </a> </td>
																				<td> <a href="../elements/73dbe8d7-b0f1-4fc7-98a0-72b20c0e51d5.html" target="element"> &lt;&lt;Registro&gt;&gt; Avalia&#231;&#227;o Pr&#233;-operat&#243;ria </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/53c19f53-105d-4cf2-b7dc-81fe30077867.html" target="element">  </a> </td>
																				<td> <a href="../elements/53c19f53-105d-4cf2-b7dc-81fe30077867.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element"> Servi&#231;o de Prepara&#231;&#227;o de Cirurgia </a> </td>
																				<td> <a href="../elements/689edaf1-1c9e-48a7-a4f0-ce23d687a1e6.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Sala </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ad44be7c-3236-46bd-9f44-425c7efceaa7.html" target="element">  </a> </td>
																				<td> <a href="../elements/ad44be7c-3236-46bd-9f44-425c7efceaa7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element"> Servi&#231;o de Prepara&#231;&#227;o de Cirurgia </a> </td>
																				<td> <a href="../elements/93acd498-e3ad-4e83-b6cc-7e2850992455.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Equipamentos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/52aac43b-c0bd-40ce-a48c-5da835f306d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/52aac43b-c0bd-40ce-a48c-5da835f306d7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element"> Servi&#231;o de Prepara&#231;&#227;o de Cirurgia </a> </td>
																				<td> <a href="../elements/cd59f0fe-8921-45a5-8b9d-b95cf8d1e78b.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Medicamentos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/467bbac9-b483-4552-9287-a79c772f39fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/467bbac9-b483-4552-9287-a79c772f39fe.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9b9cd9fe-eddf-488b-aaeb-a70457d18574.html" target="element"> Servi&#231;o de Prepara&#231;&#227;o de Cirurgia </a> </td>
																				<td> <a href="../elements/bc6f8fa3-def0-4a6f-aebf-90506184c2cf.html" target="element"> Solicita&#231;&#227;o de Limpeza de Sala </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/83647ace-13e1-4677-84a1-8307fd50b5b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/83647ace-13e1-4677-84a1-8307fd50b5b5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element"> Servi&#231;o de Agendamento de Equipamentos </a> </td>
																				<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0058089a-02cb-4ff1-b863-203681541a7e.html" target="element">  </a> </td>
																				<td> <a href="../elements/0058089a-02cb-4ff1-b863-203681541a7e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/35ca94fc-506d-42a7-ae63-f88d400bbe35.html" target="element"> Servi&#231;o de Agendamento de Equipamentos </a> </td>
																				<td> <a href="../elements/93acd498-e3ad-4e83-b6cc-7e2850992455.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Equipamentos </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6e938f56-0e31-4f9d-bc47-7de1c35edf2a.html" target="element">  </a> </td>
																				<td> <a href="../elements/6e938f56-0e31-4f9d-bc47-7de1c35edf2a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/835fc6a8-1482-4780-9930-729e8c74ce69.html" target="element"> Reserva de Medicamentos </a> </td>
																				<td> <a href="../elements/cd59f0fe-8921-45a5-8b9d-b95cf8d1e78b.html" target="element"> Solicita&#231;&#227;o de Prepara&#231;&#227;o de Medicamentos </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c428a4d4-7fbe-477b-847b-7d8825fa44ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/c428a4d4-7fbe-477b-847b-7d8825fa44ff.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/309fc89b-ce31-45bd-bb12-b98f36a4c9b2.html" target="element"> Servi&#231;o de Agendamento de Limpeza </a> </td>
																				<td> <a href="../elements/bc6f8fa3-def0-4a6f-aebf-90506184c2cf.html" target="element"> Solicita&#231;&#227;o de Limpeza de Sala </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/96a11c07-f943-4726-a52b-e2c038b7d4f1.html" target="element"> acessa </a> </td>
																		<td> <a href="../elements/96a11c07-f943-4726-a52b-e2c038b7d4f1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element"> Servi&#231;o de Gest&#227;o Integrada de Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/e2cd2a72-50ec-4e09-a308-51f75828662c.html" target="element"> Processo Pr&#233;-Operat&#243;rio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4f2acfc9-c702-4070-9afe-7c334075911f.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f2acfc9-c702-4070-9afe-7c334075911f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element"> Servi&#231;o de Gest&#227;o Integrada de Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element"> Anestesista </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8706201f-63f1-4521-a202-374cc0e36ea0.html" target="element">  </a> </td>
																		<td> <a href="../elements/8706201f-63f1-4521-a202-374cc0e36ea0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html" target="element"> Coordenador de Centro Cir&#250;rgico </a> </td>
																		<td> <a href="../elements/cd21a531-fa50-4c02-8f51-ed65bc993d46.html" target="element"> Servi&#231;o de Gest&#227;o Integrada de Centro Cir&#250;rgico </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>