<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Visão de Stakeholders</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vis&#227;o de Stakeholders</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e7aeda7b-066d-4573-9061-5387c8d4802d.png" alt="Visão de Stakeholders" usemap="#e7aeda7b-066d-4573-9061-5387c8d4802dmap"/>
			   <map name="e7aeda7b-066d-4573-9061-5387c8d4802dmap">
				  		<area shape="rect" coords="547,250,608,287" href="../elements/ca617474-b287-4c5a-b1ba-f30a9a3c65a0.html"  target="element">
				          <area shape="rect" coords="475,238,788,299" href="../objects/248dd9ae-92f4-454d-8215-34324d82d820.html" target="element" >
				  		<area shape="rect" coords="347,159,467,214" href="../elements/01ce5034-fb93-4811-862c-3de278b12d3c.html"  target="element">
				  		<area shape="rect" coords="10,231,153,286" href="../elements/e50b2cba-dfd4-4a71-aa15-180b4f975d1e.html"  target="element">
				  		<area shape="rect" coords="345,93,465,148" href="../elements/15a1aa84-9267-4425-8bd9-71aa94f1c3f0.html"  target="element">
				  		<area shape="rect" coords="344,21,464,76" href="../elements/1a77f96c-68f8-4302-ae8a-dc966470c4d6.html"  target="element">
				  		<area shape="rect" coords="196,161,316,216" href="../elements/f392b179-c8d9-435d-be1f-a321176f562e.html"  target="element">
				  		<area shape="rect" coords="634,93,754,148" href="../elements/4722e50d-986f-4316-8d27-ad7efbd9d18e.html"  target="element">
				  		<area shape="rect" coords="499,95,619,150" href="../elements/2f40fc83-042d-4246-9ef7-27b5fcb9c80d.html"  target="element">
				  		<area shape="rect" coords="944,94,1064,149" href="../elements/e7371845-1c38-4871-8dcb-cd18e8c541d7.html"  target="element">
				  		<area shape="rect" coords="776,94,896,149" href="../elements/d00e80ad-21a6-4b79-ad66-36f6050994e0.html"  target="element">
				  		<area shape="rect" coords="14,94,165,160" href="../elements/48c90eeb-f208-4ef1-ae25-58b26471b209.html"  target="element">
				  		<area shape="rect" coords="572,10,692,65" href="../elements/771eba74-4c1f-435d-8ac6-a07557dbdfc2.html"  target="element">
				  		<area shape="rect" coords="198,94,318,149" href="../elements/84e11b08-492a-444a-a2c4-d010681c390b.html"  target="element">
				  		<area shape="rect" coords="202,21,322,76" href="../elements/e10585cb-b19b-4b43-802f-749a60dec122.html"  target="element">
				  		<area shape="rect" coords="13,166,167,221" href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html"  target="element">
				  		<area shape="rect" coords="860,10,1011,65" href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html"  target="element">
				  		<area shape="rect" coords="14,21,165,76" href="../elements/967e2ee5-9e8b-4108-94cc-70c4924eaec5.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/967e2ee5-9e8b-4108-94cc-70c4924eaec5.html" target="element"> Administrador de Farm&#225;cia </a> </td>
											    <td> <a href="../elements/967e2ee5-9e8b-4108-94cc-70c4924eaec5.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element"> Anestesista </a> </td>
											    <td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html" target="element"> Coordenador de Centro Cir&#250;rgico </a> </td>
											    <td> <a href="../elements/f55ab485-a23c-4a3d-b58c-7103f3bbc395.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e10585cb-b19b-4b43-802f-749a60dec122.html" target="element"> Enfermera </a> </td>
											    <td> <a href="../elements/e10585cb-b19b-4b43-802f-749a60dec122.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/84e11b08-492a-444a-a2c4-d010681c390b.html" target="element"> Engenheiro Biom&#233;dico </a> </td>
											    <td> <a href="../elements/84e11b08-492a-444a-a2c4-d010681c390b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/771eba74-4c1f-435d-8ac6-a07557dbdfc2.html" target="element"> Cirurgi&#227;o </a> </td>
											    <td> <a href="../elements/771eba74-4c1f-435d-8ac6-a07557dbdfc2.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/48c90eeb-f208-4ef1-ae25-58b26471b209.html" target="element"> Coordenador da Divis&#227;o de Anestesia </a> </td>
											    <td> <a href="../elements/48c90eeb-f208-4ef1-ae25-58b26471b209.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d00e80ad-21a6-4b79-ad66-36f6050994e0.html" target="element"> Residente de Anestesia </a> </td>
											    <td> <a href="../elements/d00e80ad-21a6-4b79-ad66-36f6050994e0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e7371845-1c38-4871-8dcb-cd18e8c541d7.html" target="element"> Chefe de Anestesia </a> </td>
											    <td> <a href="../elements/e7371845-1c38-4871-8dcb-cd18e8c541d7.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2f40fc83-042d-4246-9ef7-27b5fcb9c80d.html" target="element"> Residente de Cirurgia </a> </td>
											    <td> <a href="../elements/2f40fc83-042d-4246-9ef7-27b5fcb9c80d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4722e50d-986f-4316-8d27-ad7efbd9d18e.html" target="element"> Chefe de Cirurgia </a> </td>
											    <td> <a href="../elements/4722e50d-986f-4316-8d27-ad7efbd9d18e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f392b179-c8d9-435d-be1f-a321176f562e.html" target="element"> T&#233;cnico de Enfermagem </a> </td>
											    <td> <a href="../elements/f392b179-c8d9-435d-be1f-a321176f562e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1a77f96c-68f8-4302-ae8a-dc966470c4d6.html" target="element"> Radiologista </a> </td>
											    <td> <a href="../elements/1a77f96c-68f8-4302-ae8a-dc966470c4d6.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/15a1aa84-9267-4425-8bd9-71aa94f1c3f0.html" target="element"> Equipe de Limpeza </a> </td>
											    <td> <a href="../elements/15a1aa84-9267-4425-8bd9-71aa94f1c3f0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e50b2cba-dfd4-4a71-aa15-180b4f975d1e.html" target="element"> Assistente da Coordena&#231;&#227;o </a> </td>
											    <td> <a href="../elements/e50b2cba-dfd4-4a71-aa15-180b4f975d1e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/01ce5034-fb93-4811-862c-3de278b12d3c.html" target="element"> Equipe de Seguran&#231;a </a> </td>
											    <td> <a href="../elements/01ce5034-fb93-4811-862c-3de278b12d3c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/248dd9ae-92f4-454d-8215-34324d82d820.html" target="element">  </a> </td>
									           <td> <a href="../objects/248dd9ae-92f4-454d-8215-34324d82d820.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/ca617474-b287-4c5a-b1ba-f30a9a3c65a0.html" target="element">  </a> </td>
											    <td> <a href="../elements/ca617474-b287-4c5a-b1ba-f30a9a3c65a0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b51f6457-0489-44a2-90f8-d914f178e727.html" target="element">  </a> </td>
																		<td> <a href="../elements/b51f6457-0489-44a2-90f8-d914f178e727.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/d00e80ad-21a6-4b79-ad66-36f6050994e0.html" target="element"> Residente de Anestesia </a> </td>
																		<td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element"> Anestesista </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/93faed70-410d-4ec8-9026-0f6e2e895b67.html" target="element">  </a> </td>
																		<td> <a href="../elements/93faed70-410d-4ec8-9026-0f6e2e895b67.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/e7371845-1c38-4871-8dcb-cd18e8c541d7.html" target="element"> Chefe de Anestesia </a> </td>
																		<td> <a href="../elements/d1c6dd94-1d9c-4baf-8254-0b5228d39104.html" target="element"> Anestesista </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/aee09d32-32a0-4c6e-9ec7-a00283177d59.html" target="element">  </a> </td>
																		<td> <a href="../elements/aee09d32-32a0-4c6e-9ec7-a00283177d59.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/2f40fc83-042d-4246-9ef7-27b5fcb9c80d.html" target="element"> Residente de Cirurgia </a> </td>
																		<td> <a href="../elements/771eba74-4c1f-435d-8ac6-a07557dbdfc2.html" target="element"> Cirurgi&#227;o </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2a857e5e-336a-44bb-a335-48d14cbe277f.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a857e5e-336a-44bb-a335-48d14cbe277f.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/4722e50d-986f-4316-8d27-ad7efbd9d18e.html" target="element"> Chefe de Cirurgia </a> </td>
																		<td> <a href="../elements/771eba74-4c1f-435d-8ac6-a07557dbdfc2.html" target="element"> Cirurgi&#227;o </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>