<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Visão de Capacidades</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vis&#227;o de Capacidades</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-requirements_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f10aee6b-b75c-4f35-bf8b-4cdc3ede171a.png" alt="Visão de Capacidades" usemap="#f10aee6b-b75c-4f35-bf8b-4cdc3ede171amap"/>
			   <map name="f10aee6b-b75c-4f35-bf8b-4cdc3ede171amap">
				  		<area shape="rect" coords="2302,615,2357,641" href="../elements/3b515bc0-30cc-4aea-981e-515020093dea.html"  target="element">
				  		<area shape="rect" coords="2434,615,2478,642" href="../elements/3124f880-9356-4ec9-8acf-e2eca300e9f8.html"  target="element">
				          <area shape="rect" coords="2222,598,2817,677" href="../objects/166213c3-472e-4352-9be2-2c62d7472b7e.html" target="element" >
				  		<area shape="rect" coords="322,444,386,474" href="../elements/63cfda17-0d13-4376-97f4-66c518d58c88.html"  target="element">
				  		<area shape="rect" coords="454,447,511,470" href="../elements/fd51cbc7-bf21-4f22-b1f9-fa1779babc2d.html"  target="element">
				  		<area shape="rect" coords="792,443,849,474" href="../elements/2424d476-908f-4319-ba54-dcb3c4472376.html"  target="element">
				  		<area shape="rect" coords="586,445,630,472" href="../elements/bbebaa97-18ac-40fd-80f1-ecb3e6aa31d5.html"  target="element">
				          <area shape="rect" coords="250,430,1007,491" href="../objects/136c3da7-9a30-4282-acde-faed3092acf9.html" target="element" >
				  		<area shape="rect" coords="1893,622,2096,677" href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html"  target="element">
				  		<area shape="rect" coords="2402,442,2667,491" href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html"  target="element">
				  		<area shape="rect" coords="1574,622,1743,677" href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html"  target="element">
				  				<area shape="rect" coords="2233,235,2804,299" href="../elements/82afe403-8cc2-449d-93bb-d0319100b50d.html"  target="element">
				  				<area shape="rect" coords="2230,171,2804,236" href="../elements/88553150-d5ed-4fe0-9d6a-fc5fc73fd5b0.html"  target="element">
				  				<area shape="rect" coords="2228,106,2804,172" href="../elements/3dc35512-c2a7-405b-934a-4292562323d1.html"  target="element">
				  				<area shape="rect" coords="2228,48,2800,107" href="../elements/fe092958-3a5f-46c6-b749-f9fc3fca4e6a.html"  target="element">

				  		<area shape="rect" coords="2222,22,2817,311" href="../elements/77250a1c-cefa-41ee-8352-bfbbce05c11a.html"  target="element">
				  				<area shape="rect" coords="1474,526,2182,581" href="../elements/38d30af0-2cb6-436f-8134-87e0e2e1be64.html"  target="element">
				  				<area shape="rect" coords="1478,454,2184,515" href="../elements/508221d7-4020-4ee6-bc72-302aa80e7f83.html"  target="element">
				  				<area shape="rect" coords="1472,400,2184,449" href="../elements/9086b4ff-703a-4eb2-87d1-210d26f93901.html"  target="element">
				  				<area shape="rect" coords="1472,334,2184,389" href="../elements/0161b65c-d559-4424-9500-db60b0e53f37.html"  target="element">
				  				<area shape="rect" coords="1473,286,2184,329" href="../elements/369d9223-1de6-4e9c-8513-99c87c5d6d7e.html"  target="element">
				  				<area shape="rect" coords="1474,220,2184,275" href="../elements/b175c6e7-d283-4229-bd76-57266801a2f3.html"  target="element">
				  				<area shape="rect" coords="1474,160,2183,209" href="../elements/2a8dd861-3216-49d1-9ac6-e7b99621b0ec.html"  target="element">
				  				<area shape="rect" coords="1474,112,2183,154" href="../elements/31b19db3-20e3-4cbd-92fc-162c0b0174e1.html"  target="element">
				  				<area shape="rect" coords="1473,50,2184,101" href="../elements/0c6819e2-eca3-48fa-926e-2f564bb28adf.html"  target="element">

				  		<area shape="rect" coords="1454,10,2211,599" href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html"  target="element">
				  		<area shape="rect" coords="262,22,971,71" href="../elements/8159d9db-42c3-4aab-8e2a-59330f9be34f.html"  target="element">
				  		<area shape="rect" coords="478,106,720,161" href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html"  target="element">
				  		<area shape="rect" coords="958,283,1277,418" href="../elements/b6516876-8abd-43ce-bed9-46a1d00a6ebd.html"  target="element">
				  		<area shape="rect" coords="1030,191,1215,246" href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html"  target="element">
				  		<area shape="rect" coords="610,286,953,415" href="../elements/1f002f49-cfce-41cf-8686-1bfde7e8fa46.html"  target="element">
				  		<area shape="rect" coords="310,287,600,414" href="../elements/210b6e5e-14e4-4fc2-9437-f2b2b07c6717.html"  target="element">
				  		<area shape="rect" coords="466,191,720,246" href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html"  target="element">
				  		<area shape="rect" coords="10,285,299,416" href="../elements/126e4452-a7a2-4db6-b292-76f2a289ddc8.html"  target="element">
				  		<area shape="rect" coords="46,202,263,251" href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element"> Sistema de Ap&#243;io P&#243;s-operat&#243;rio </a> </td>
											    <td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/126e4452-a7a2-4db6-b292-76f2a289ddc8.html" target="element"> [O2.R04] Durante o processo pos-operat&#243;rio, o sistema  SIGEAN deve permitir a captura digital e armazenamento das informa&#231;&#245;es requeridas no registro de procedimentos de recupera&#231;&#227;o p&#243;s-anest&#233;sica do HCFMUSP </a> </td>
											    <td> <a href="../elements/126e4452-a7a2-4db6-b292-76f2a289ddc8.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element"> Sistema Integrado de Apoio Intraoperat&#243;rio </a> </td>
											    <td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/210b6e5e-14e4-4fc2-9437-f2b2b07c6717.html" target="element"> [O2.R03] Durante o processo intraoperatorio, o sistema  SIGEAN deve permitir a captura digital e armazenamento das informacoes requeridas no relatorio de eventos adversos intraoperatorios da divisao de anestesia do HCFMUSP. </a> </td>
											    <td> <a href="../elements/210b6e5e-14e4-4fc2-9437-f2b2b07c6717.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1f002f49-cfce-41cf-8686-1bfde7e8fa46.html" target="element"> [O2.R02] Durante o processo intraoperatorio, o sistema SIGEAN deve permitir a capturadigital e armazenamento das informa&#231;&#245;es requeridas no relat&#243;rio de anestesia estabelecido nos protocolos para monitoriza&#231;&#227;o de procedimentos anest&#233;sicos intraoperatorios do HCFMUSP. </a> </td>
											    <td> <a href="../elements/1f002f49-cfce-41cf-8686-1bfde7e8fa46.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element"> Sistema de Prontu&#225;rio Eletr&#244;nico </a> </td>
											    <td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b6516876-8abd-43ce-bed9-46a1d00a6ebd.html" target="element"> [O2.R01] Durante o processo de avalia&#231;&#227;o pr&#233;-anest&#233;sica, o sistema SIGEAN deve permitir a captura digital e armazenamento das informa&#231;&#245;es requeridas na ficha de avalia&#231;&#227;o pr&#233;-operat&#243;ria estabelecida no protocolo de avalia&#231;&#227;o pr&#233;-operat&#243;ria do HCFMUSP </a> </td>
											    <td> <a href="../elements/b6516876-8abd-43ce-bed9-46a1d00a6ebd.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element"> Servi&#231;o de Elabora&#231;&#227;o de Relat&#243;rios de Anestesia </a> </td>
											    <td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8159d9db-42c3-4aab-8e2a-59330f9be34f.html" target="element"> [O2] Integrar e Armazenar todos os dados gerados no centro cir&#250;rgico, exclu&#237;ndo o uso de fichas f&#237;sicas </a> </td>
											    <td> <a href="../elements/8159d9db-42c3-4aab-8e2a-59330f9be34f.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
											    <td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0c6819e2-eca3-48fa-926e-2f564bb28adf.html" target="element"> [O2.RAS01] A captura e visualiza&#231;&#227;o das informa&#231;&#245;es deve ser realizada atrav&#233;s de uma interface de usu&#225;rio amig&#225;vel, requerendo o menor n&#250;mero de intera&#231;&#245;es do usu&#225;rio com o sistema. </a> </td>
													    <td> <a href="../elements/0c6819e2-eca3-48fa-926e-2f564bb28adf.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/31b19db3-20e3-4cbd-92fc-162c0b0174e1.html" target="element"> [O2.RAS02] As informa&#231;&#245;es devem ser armazenadas no servidor central do centro cir&#250;rgico assim que estas s&#227;o ingressadas pelo usu&#225;rio </a> </td>
													    <td> <a href="../elements/31b19db3-20e3-4cbd-92fc-162c0b0174e1.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2a8dd861-3216-49d1-9ac6-e7b99621b0ec.html" target="element"> [O2.RAS03] As informa&#231;&#245;es devem estar sempre (24/7) dispon&#237;veis para consulta sempre que requerido pelos usu&#225;rios </a> </td>
													    <td> <a href="../elements/2a8dd861-3216-49d1-9ac6-e7b99621b0ec.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b175c6e7-d283-4229-bd76-57266801a2f3.html" target="element"> [O2.RAS04] As informa&#231;&#245;es somente podem ser consultadas, modificadas ou deletadas do reposit&#243;rio somente por usu&#225;rios autorizados </a> </td>
													    <td> <a href="../elements/b175c6e7-d283-4229-bd76-57266801a2f3.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/369d9223-1de6-4e9c-8513-99c87c5d6d7e.html" target="element"> [O2.RAS05] O sistema deve apresentar ao usu&#225;rio as informa&#231;&#245;es solicitadas em menos de 5 segundos. </a> </td>
													    <td> <a href="../elements/369d9223-1de6-4e9c-8513-99c87c5d6d7e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0161b65c-d559-4424-9500-db60b0e53f37.html" target="element"> [O2.RAS06] O sistema deve armazenar informa&#231;&#245;es de no m&#237;nimo 7000 pacientes por m&#234;s / 2450 pacientes por dia </a> </td>
													    <td> <a href="../elements/0161b65c-d559-4424-9500-db60b0e53f37.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9086b4ff-703a-4eb2-87d1-210d26f93901.html" target="element"> [O2.RAS07] O sistema deve suportar aproximadamente 350 opera&#231;&#245;es &#224; base de dados simult&#226;neas realizadas por diferentes perfis de usu&#225;rios </a> </td>
													    <td> <a href="../elements/9086b4ff-703a-4eb2-87d1-210d26f93901.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/508221d7-4020-4ee6-bc72-302aa80e7f83.html" target="element"> [O2.RAS08] As informa&#231;&#245;es do paciente s&#227;o confidenciais, por isso estas devem ser armazenadas de forma segura mantendo a privacidade do paciente. Para isso, o sistema deve seguir o padr&#227;o ISO/IEC DIS 15408-1 </a> </td>
													    <td> <a href="../elements/508221d7-4020-4ee6-bc72-302aa80e7f83.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/38d30af0-2cb6-436f-8134-87e0e2e1be64.html" target="element"> [O2.RAS09] As informa&#231;&#245;es devem ser fornecidas utilizando REST-APIs e seguindo as diretrizes dos  padr&#245;es de interoperabilidade sem&#226;ntica SNOMED-CT e sint&#225;tica FHIR/HL7. </a> </td>
													    <td> <a href="../elements/38d30af0-2cb6-436f-8134-87e0e2e1be64.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/77250a1c-cefa-41ee-8352-bfbbce05c11a.html" target="element"> Grupo 2 de RAS </a> </td>
											    <td> <a href="../elements/77250a1c-cefa-41ee-8352-bfbbce05c11a.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/fe092958-3a5f-46c6-b749-f9fc3fca4e6a.html" target="element"> [O2.RAS10] O Sistema integrado de apoio intraoperat&#243;rio deve armazenar autom&#225;ticamente as informa&#231;&#245;es do relat&#243;rio de anestesia para cada paciente em no m&#225;ximo a cada 5 minutos </a> </td>
													    <td> <a href="../elements/fe092958-3a5f-46c6-b749-f9fc3fca4e6a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3dc35512-c2a7-405b-934a-4292562323d1.html" target="element"> [O2.RAS11] O sistema integrado de apoio intraoperat&#341;oio deve ter a capacidade de armazenar autom&#225;ticamente 11000 registros, para cada paciente, de forma confidencial, durante o tempo total de uma cirurgia. </a> </td>
													    <td> <a href="../elements/3dc35512-c2a7-405b-934a-4292562323d1.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/88553150-d5ed-4fe0-9d6a-fc5fc73fd5b0.html" target="element"> [O1.RAS12] O sistema integrado de apoio intraoperat&#243;rio deve permitir o armazenamento de 1,6 milh&#245;es de registros de pacientes por dia / 480 milh&#245;es por m&#234;s. </a> </td>
													    <td> <a href="../elements/88553150-d5ed-4fe0-9d6a-fc5fc73fd5b0.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/82afe403-8cc2-449d-93bb-d0319100b50d.html" target="element"> [O2.RAS13] O sistema integrado de apoio intraoperat&#243;rio deve permitir o armazenamento de 950 mil registros de forma simult&#226;nea para todo o complexo HCFMUSP </a> </td>
													    <td> <a href="../elements/82afe403-8cc2-449d-93bb-d0319100b50d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element"> Sistema de Ap&#243;io P&#243;s-operat&#243;rio </a> </td>
											    <td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element"> Sistema Integrado de Apoio Intraoperat&#243;rio </a> </td>
											    <td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element"> Sistema de Prontu&#225;rio Eletr&#244;nico </a> </td>
											    <td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/136c3da7-9a30-4282-acde-faed3092acf9.html" target="element">  </a> </td>
									           <td> <a href="../objects/136c3da7-9a30-4282-acde-faed3092acf9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/bbebaa97-18ac-40fd-80f1-ecb3e6aa31d5.html" target="element">  </a> </td>
											    <td> <a href="../elements/bbebaa97-18ac-40fd-80f1-ecb3e6aa31d5.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2424d476-908f-4319-ba54-dcb3c4472376.html" target="element">  </a> </td>
											    <td> <a href="../elements/2424d476-908f-4319-ba54-dcb3c4472376.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fd51cbc7-bf21-4f22-b1f9-fa1779babc2d.html" target="element">  </a> </td>
											    <td> <a href="../elements/fd51cbc7-bf21-4f22-b1f9-fa1779babc2d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/63cfda17-0d13-4376-97f4-66c518d58c88.html" target="element">  </a> </td>
											    <td> <a href="../elements/63cfda17-0d13-4376-97f4-66c518d58c88.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/166213c3-472e-4352-9be2-2c62d7472b7e.html" target="element">  </a> </td>
									           <td> <a href="../objects/166213c3-472e-4352-9be2-2c62d7472b7e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/3124f880-9356-4ec9-8acf-e2eca300e9f8.html" target="element">  (copy) </a> </td>
											    <td> <a href="../elements/3124f880-9356-4ec9-8acf-e2eca300e9f8.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3b515bc0-30cc-4aea-981e-515020093dea.html" target="element">  </a> </td>
											    <td> <a href="../elements/3b515bc0-30cc-4aea-981e-515020093dea.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/68b7522c-c4e7-47a7-93a7-e4e2a26d0cf9.html" target="element">  </a> </td>
																		<td> <a href="../elements/68b7522c-c4e7-47a7-93a7-e4e2a26d0cf9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element"> Sistema de Ap&#243;io P&#243;s-operat&#243;rio </a> </td>
																		<td> <a href="../elements/126e4452-a7a2-4db6-b292-76f2a289ddc8.html" target="element"> [O2.R04] Durante o processo pos-operat&#243;rio, o sistema  SIGEAN deve permitir a captura digital e armazenamento das informa&#231;&#245;es requeridas no registro de procedimentos de recupera&#231;&#227;o p&#243;s-anest&#233;sica do HCFMUSP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2b4f76b8-5ad1-405c-9fe5-54411a0874ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b4f76b8-5ad1-405c-9fe5-54411a0874ea.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element"> Sistema de Ap&#243;io P&#243;s-operat&#243;rio </a> </td>
																		<td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element"> Servi&#231;o de Elabora&#231;&#227;o de Relat&#243;rios de Anestesia </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/74645f6b-3756-4976-9bd9-5c5a1491179b.html" target="element">  </a> </td>
																		<td> <a href="../elements/74645f6b-3756-4976-9bd9-5c5a1491179b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/126e4452-a7a2-4db6-b292-76f2a289ddc8.html" target="element"> [O2.R04] Durante o processo pos-operat&#243;rio, o sistema  SIGEAN deve permitir a captura digital e armazenamento das informa&#231;&#245;es requeridas no registro de procedimentos de recupera&#231;&#227;o p&#243;s-anest&#233;sica do HCFMUSP </a> </td>
																		<td> <a href="../elements/8159d9db-42c3-4aab-8e2a-59330f9be34f.html" target="element"> [O2] Integrar e Armazenar todos os dados gerados no centro cir&#250;rgico, exclu&#237;ndo o uso de fichas f&#237;sicas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a3c59154-636a-4078-8ee9-4b84d31c9e51.html" target="element">  </a> </td>
																		<td> <a href="../elements/a3c59154-636a-4078-8ee9-4b84d31c9e51.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element"> Sistema Integrado de Apoio Intraoperat&#243;rio </a> </td>
																		<td> <a href="../elements/210b6e5e-14e4-4fc2-9437-f2b2b07c6717.html" target="element"> [O2.R03] Durante o processo intraoperatorio, o sistema  SIGEAN deve permitir a captura digital e armazenamento das informacoes requeridas no relatorio de eventos adversos intraoperatorios da divisao de anestesia do HCFMUSP. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8dabf3b3-4525-4c6e-9b00-afb5168fc947.html" target="element">  </a> </td>
																		<td> <a href="../elements/8dabf3b3-4525-4c6e-9b00-afb5168fc947.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element"> Sistema Integrado de Apoio Intraoperat&#243;rio </a> </td>
																		<td> <a href="../elements/1f002f49-cfce-41cf-8686-1bfde7e8fa46.html" target="element"> [O2.R02] Durante o processo intraoperatorio, o sistema SIGEAN deve permitir a capturadigital e armazenamento das informa&#231;&#245;es requeridas no relat&#243;rio de anestesia estabelecido nos protocolos para monitoriza&#231;&#227;o de procedimentos anest&#233;sicos intraoperatorios do HCFMUSP. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b54881bf-07c0-4209-8c92-420ab6ab8fca.html" target="element">  </a> </td>
																		<td> <a href="../elements/b54881bf-07c0-4209-8c92-420ab6ab8fca.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element"> Sistema Integrado de Apoio Intraoperat&#243;rio </a> </td>
																		<td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element"> Servi&#231;o de Elabora&#231;&#227;o de Relat&#243;rios de Anestesia </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b8b40cd6-f682-4823-86e8-ceb4c68ec768.html" target="element">  </a> </td>
																		<td> <a href="../elements/b8b40cd6-f682-4823-86e8-ceb4c68ec768.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/210b6e5e-14e4-4fc2-9437-f2b2b07c6717.html" target="element"> [O2.R03] Durante o processo intraoperatorio, o sistema  SIGEAN deve permitir a captura digital e armazenamento das informacoes requeridas no relatorio de eventos adversos intraoperatorios da divisao de anestesia do HCFMUSP. </a> </td>
																		<td> <a href="../elements/8159d9db-42c3-4aab-8e2a-59330f9be34f.html" target="element"> [O2] Integrar e Armazenar todos os dados gerados no centro cir&#250;rgico, exclu&#237;ndo o uso de fichas f&#237;sicas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a230168f-7bfa-4bec-a143-07b5fce804fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/a230168f-7bfa-4bec-a143-07b5fce804fe.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1f002f49-cfce-41cf-8686-1bfde7e8fa46.html" target="element"> [O2.R02] Durante o processo intraoperatorio, o sistema SIGEAN deve permitir a capturadigital e armazenamento das informa&#231;&#245;es requeridas no relat&#243;rio de anestesia estabelecido nos protocolos para monitoriza&#231;&#227;o de procedimentos anest&#233;sicos intraoperatorios do HCFMUSP. </a> </td>
																		<td> <a href="../elements/8159d9db-42c3-4aab-8e2a-59330f9be34f.html" target="element"> [O2] Integrar e Armazenar todos os dados gerados no centro cir&#250;rgico, exclu&#237;ndo o uso de fichas f&#237;sicas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2cda9a12-60a9-45e9-95eb-6bcbd918110f.html" target="element">  </a> </td>
																		<td> <a href="../elements/2cda9a12-60a9-45e9-95eb-6bcbd918110f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element"> Sistema de Prontu&#225;rio Eletr&#244;nico </a> </td>
																		<td> <a href="../elements/b6516876-8abd-43ce-bed9-46a1d00a6ebd.html" target="element"> [O2.R01] Durante o processo de avalia&#231;&#227;o pr&#233;-anest&#233;sica, o sistema SIGEAN deve permitir a captura digital e armazenamento das informa&#231;&#245;es requeridas na ficha de avalia&#231;&#227;o pr&#233;-operat&#243;ria estabelecida no protocolo de avalia&#231;&#227;o pr&#233;-operat&#243;ria do HCFMUSP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/13ab1ef0-9d8c-43f2-a4de-b8f381da5ebd.html" target="element">  </a> </td>
																		<td> <a href="../elements/13ab1ef0-9d8c-43f2-a4de-b8f381da5ebd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b6516876-8abd-43ce-bed9-46a1d00a6ebd.html" target="element"> [O2.R01] Durante o processo de avalia&#231;&#227;o pr&#233;-anest&#233;sica, o sistema SIGEAN deve permitir a captura digital e armazenamento das informa&#231;&#245;es requeridas na ficha de avalia&#231;&#227;o pr&#233;-operat&#243;ria estabelecida no protocolo de avalia&#231;&#227;o pr&#233;-operat&#243;ria do HCFMUSP </a> </td>
																		<td> <a href="../elements/8159d9db-42c3-4aab-8e2a-59330f9be34f.html" target="element"> [O2] Integrar e Armazenar todos os dados gerados no centro cir&#250;rgico, exclu&#237;ndo o uso de fichas f&#237;sicas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3ab07ff6-3dcf-42c7-bed8-b4f5eed05966.html" target="element">  </a> </td>
																		<td> <a href="../elements/3ab07ff6-3dcf-42c7-bed8-b4f5eed05966.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element"> Servi&#231;o de Elabora&#231;&#227;o de Relat&#243;rios de Anestesia </a> </td>
																		<td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element"> Sistema de Prontu&#225;rio Eletr&#244;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/03e0cd27-d715-41b0-99de-91ae0a1d5f42.html" target="element">  </a> </td>
																		<td> <a href="../elements/03e0cd27-d715-41b0-99de-91ae0a1d5f42.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6dad5e1d-cf09-4022-b4c5-4af253e02127.html" target="element"> Servi&#231;o de Elabora&#231;&#227;o de Relat&#243;rios de Anestesia </a> </td>
																		<td> <a href="../elements/8159d9db-42c3-4aab-8e2a-59330f9be34f.html" target="element"> [O2] Integrar e Armazenar todos os dados gerados no centro cir&#250;rgico, exclu&#237;ndo o uso de fichas f&#237;sicas </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/8d8e3123-34cd-4f61-96a7-879d0cd16665.html" target="element">  </a> </td>
																				<td> <a href="../elements/8d8e3123-34cd-4f61-96a7-879d0cd16665.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/0c6819e2-eca3-48fa-926e-2f564bb28adf.html" target="element"> [O2.RAS01] A captura e visualiza&#231;&#227;o das informa&#231;&#245;es deve ser realizada atrav&#233;s de uma interface de usu&#225;rio amig&#225;vel, requerendo o menor n&#250;mero de intera&#231;&#245;es do usu&#225;rio com o sistema. </a> </td>
																				<td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6a465ae3-27c8-47ae-b504-db3f291f5230.html" target="element">  </a> </td>
																				<td> <a href="../elements/6a465ae3-27c8-47ae-b504-db3f291f5230.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/31b19db3-20e3-4cbd-92fc-162c0b0174e1.html" target="element"> [O2.RAS02] As informa&#231;&#245;es devem ser armazenadas no servidor central do centro cir&#250;rgico assim que estas s&#227;o ingressadas pelo usu&#225;rio </a> </td>
																				<td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e6c21416-5950-4de3-bfa7-487516fe9e4a.html" target="element">  </a> </td>
																				<td> <a href="../elements/e6c21416-5950-4de3-bfa7-487516fe9e4a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/2a8dd861-3216-49d1-9ac6-e7b99621b0ec.html" target="element"> [O2.RAS03] As informa&#231;&#245;es devem estar sempre (24/7) dispon&#237;veis para consulta sempre que requerido pelos usu&#225;rios </a> </td>
																				<td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c842546d-f0ee-4604-8d70-9c3f7ec33558.html" target="element">  </a> </td>
																				<td> <a href="../elements/c842546d-f0ee-4604-8d70-9c3f7ec33558.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/b175c6e7-d283-4229-bd76-57266801a2f3.html" target="element"> [O2.RAS04] As informa&#231;&#245;es somente podem ser consultadas, modificadas ou deletadas do reposit&#243;rio somente por usu&#225;rios autorizados </a> </td>
																				<td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f254a9e1-3aac-438e-9b3b-b111ca324cb0.html" target="element">  </a> </td>
																				<td> <a href="../elements/f254a9e1-3aac-438e-9b3b-b111ca324cb0.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/369d9223-1de6-4e9c-8513-99c87c5d6d7e.html" target="element"> [O2.RAS05] O sistema deve apresentar ao usu&#225;rio as informa&#231;&#245;es solicitadas em menos de 5 segundos. </a> </td>
																				<td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c57b6213-a594-4c15-93f3-0440d6dda157.html" target="element">  </a> </td>
																				<td> <a href="../elements/c57b6213-a594-4c15-93f3-0440d6dda157.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/0161b65c-d559-4424-9500-db60b0e53f37.html" target="element"> [O2.RAS06] O sistema deve armazenar informa&#231;&#245;es de no m&#237;nimo 7000 pacientes por m&#234;s / 2450 pacientes por dia </a> </td>
																				<td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9fa80dfe-8246-437b-a2fc-a13d0e32b58f.html" target="element">  </a> </td>
																				<td> <a href="../elements/9fa80dfe-8246-437b-a2fc-a13d0e32b58f.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/9086b4ff-703a-4eb2-87d1-210d26f93901.html" target="element"> [O2.RAS07] O sistema deve suportar aproximadamente 350 opera&#231;&#245;es &#224; base de dados simult&#226;neas realizadas por diferentes perfis de usu&#225;rios </a> </td>
																				<td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/35e8f516-1326-4ec4-b174-a455d1d40fbf.html" target="element">  </a> </td>
																				<td> <a href="../elements/35e8f516-1326-4ec4-b174-a455d1d40fbf.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/508221d7-4020-4ee6-bc72-302aa80e7f83.html" target="element"> [O2.RAS08] As informa&#231;&#245;es do paciente s&#227;o confidenciais, por isso estas devem ser armazenadas de forma segura mantendo a privacidade do paciente. Para isso, o sistema deve seguir o padr&#227;o ISO/IEC DIS 15408-1 </a> </td>
																				<td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3c733615-26ff-49e7-99e5-2e0477eff9ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/3c733615-26ff-49e7-99e5-2e0477eff9ad.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/38d30af0-2cb6-436f-8134-87e0e2e1be64.html" target="element"> [O2.RAS09] As informa&#231;&#245;es devem ser fornecidas utilizando REST-APIs e seguindo as diretrizes dos  padr&#245;es de interoperabilidade sem&#226;ntica SNOMED-CT e sint&#225;tica FHIR/HL7. </a> </td>
																				<td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/c176acee-453d-43b0-87ee-0dc47e589feb.html" target="element">  </a> </td>
																				<td> <a href="../elements/c176acee-453d-43b0-87ee-0dc47e589feb.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/fe092958-3a5f-46c6-b749-f9fc3fca4e6a.html" target="element"> [O2.RAS10] O Sistema integrado de apoio intraoperat&#243;rio deve armazenar autom&#225;ticamente as informa&#231;&#245;es do relat&#243;rio de anestesia para cada paciente em no m&#225;ximo a cada 5 minutos </a> </td>
																				<td> <a href="../elements/77250a1c-cefa-41ee-8352-bfbbce05c11a.html" target="element"> Grupo 2 de RAS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/cf23d9c9-38d1-4b94-a1ac-6bb4cf62c90c.html" target="element">  </a> </td>
																				<td> <a href="../elements/cf23d9c9-38d1-4b94-a1ac-6bb4cf62c90c.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/3dc35512-c2a7-405b-934a-4292562323d1.html" target="element"> [O2.RAS11] O sistema integrado de apoio intraoperat&#341;oio deve ter a capacidade de armazenar autom&#225;ticamente 11000 registros, para cada paciente, de forma confidencial, durante o tempo total de uma cirurgia. </a> </td>
																				<td> <a href="../elements/77250a1c-cefa-41ee-8352-bfbbce05c11a.html" target="element"> Grupo 2 de RAS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a5937fc1-7c88-45bf-a5d1-085596b7108d.html" target="element">  </a> </td>
																				<td> <a href="../elements/a5937fc1-7c88-45bf-a5d1-085596b7108d.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/88553150-d5ed-4fe0-9d6a-fc5fc73fd5b0.html" target="element"> [O1.RAS12] O sistema integrado de apoio intraoperat&#243;rio deve permitir o armazenamento de 1,6 milh&#245;es de registros de pacientes por dia / 480 milh&#245;es por m&#234;s. </a> </td>
																				<td> <a href="../elements/77250a1c-cefa-41ee-8352-bfbbce05c11a.html" target="element"> Grupo 2 de RAS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/cfce0476-2ce1-41de-a622-752ad7c01fc7.html" target="element">  </a> </td>
																				<td> <a href="../elements/cfce0476-2ce1-41de-a622-752ad7c01fc7.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/82afe403-8cc2-449d-93bb-d0319100b50d.html" target="element"> [O2.RAS13] O sistema integrado de apoio intraoperat&#243;rio deve permitir o armazenamento de 950 mil registros de forma simult&#226;nea para todo o complexo HCFMUSP </a> </td>
																				<td> <a href="../elements/77250a1c-cefa-41ee-8352-bfbbce05c11a.html" target="element"> Grupo 2 de RAS </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/d58d068c-6e82-48f7-9052-a24abf9082ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/d58d068c-6e82-48f7-9052-a24abf9082ee.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/42b7d18f-e2a1-4522-a24b-d049de8c846e.html" target="element"> Sistema de Ap&#243;io P&#243;s-operat&#243;rio </a> </td>
																		<td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8cad3c45-5029-440c-853f-1d0a4def11d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/8cad3c45-5029-440c-853f-1d0a4def11d0.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element"> Sistema Integrado de Apoio Intraoperat&#243;rio </a> </td>
																		<td> <a href="../elements/77250a1c-cefa-41ee-8352-bfbbce05c11a.html" target="element"> Grupo 2 de RAS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4aadbe7d-9eaf-48db-85aa-79f105c14e57.html" target="element">  </a> </td>
																		<td> <a href="../elements/4aadbe7d-9eaf-48db-85aa-79f105c14e57.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/932c73ff-da5b-416c-8e9c-4ef833a232dc.html" target="element"> Sistema Integrado de Apoio Intraoperat&#243;rio </a> </td>
																		<td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a3558dcf-06c2-4b48-ad57-000b9df7013d.html" target="element">  </a> </td>
																		<td> <a href="../elements/a3558dcf-06c2-4b48-ad57-000b9df7013d.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/78d0bb26-22c5-410c-beab-ec495f053d25.html" target="element"> Sistema de Prontu&#225;rio Eletr&#244;nico </a> </td>
																		<td> <a href="../elements/74e4c840-50fb-4b26-9b57-3cdc34105469.html" target="element"> Grupo 1 de RAS </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/983cec3c-ec6c-4ec7-a12d-faa76b75e028.html" target="element">  </a> </td>
																		<td> <a href="../elements/983cec3c-ec6c-4ec7-a12d-faa76b75e028.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/3124f880-9356-4ec9-8acf-e2eca300e9f8.html" target="element">  (copy) </a> </td>
																		<td> <a href="../elements/3124f880-9356-4ec9-8acf-e2eca300e9f8.html" target="element">  (copy) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>